[2017-11-16 19:57] mcfrank opened #1 "tooltips with full citation for visualization app"
perhaps using plotly for ggplot

ideally all points in viz app would be identifiable via tooltip.

some other interactivity may be possible if we switch to plotly.

[2017-11-16 19:58] mcfrank opened #2 "link to dataset info from viz app"
show hyperlink to open the info page for a particular dataset from within the app to make it easy to see the documentation

[2017-11-16 20:00] mcfrank opened #3 "provide some documentation for viz and power apps"
either these could be separate documentation tabs (heavier weight) or else could be question marks by each of the plots with a short sentence about each option. also tooltips on pulldowns (like on wordbank).

@mollyllewis or @chbergma could you help @amsan7 with text for this once the shiny apps are up and running?

[2017-11-16 20:03] mcfrank opened #4 "visualization app shouldn't just be for child language"
- [x] reverse order of power analysis and viz on homepage
- [x] "Meta-analysis Visualization" is the name of the app
- [x] app needs a "domain" selector so that you can select "language development" or "cognitive development" domains, then select MA from within a domain

[2017-11-17 12:10] christinabergmann commented on #3
Happy to, I like the idea of question marks for short bits of text!

[2017-11-26 12:46] #2 closed

[2017-11-26 14:05] #4 closed

[2017-11-26 16:49] amsan7 commented on #1
i was able to use ggplotly on scatter / violin plot (not funnel) and i didn't think citation feature was necessary for forest plot

[2017-11-30 18:19] christinabergmann opened #8 "Add subsetting to the visualizations and power apps"
In some datasets, there are natural subsets, like replication in statistical word segmentation (just added to datasets, online on the "old" metalab). Would be great to be able to specify a subset (similar to moderators now) and then re-compute effect size and plot everything anew.

[2017-12-01 11:49] christinabergmann opened #10 "Sort datasets alphabetically"
Can we sort datasets alphabetically in the drop-down / on the dataset page or do we need to do that in datasets.yaml?
Is alphabetical a good order? (Seems more logical than the current ad hoc)

[2017-12-07 21:36] mcfrank opened #11 "should we eliminate the meta-analytic model selector?"
since we think A) no MA in the dataset licenses a fixed effects model, and B) study grouping always is the right thing to do, why don't we simply eliminate the options to use RM and FE options, and that will simplify the interface.

[2017-12-07 21:37] mcfrank opened #12 "nesting structure for MA model"
can we put the repeated measures nesting structure by default into the meta-analytic model we use? if we did that, we'd add the repeated measures column as a nesting variable in the metafor call...

we need to check whether the same-infant column is used appropriately across datasets to do this, if not, we will have to fix it or opt out of doing this for the time being.

at least, if not, we can j

[2017-12-07 21:40] mcfrank opened #13 "visualization app - should we use Hedges g by default?"
Relatedly, would it be useful to eliminate some options from this selector? Or alternatively force different defaults for different MAs? For example, we might want most MAs to default to g but then have a few that default r (the correlational ones)?

Maybe we can get rid of z as well.

Comments welcome.

[2017-12-07 21:41] mcfrank opened #14 "remove "trace N" legend item"
in plotly apps - should just be able to suppress legend maybe?

[2017-12-07 21:42] mcfrank commented on #14
and maybe also the "short_cite: " in the tooltips (but adding the experiment number) for the age scatter.

[2017-12-07 21:42] mcfrank opened #15 "funnel plot shouldn't have points connected with a line"

[2017-12-07 21:44] mcfrank commented on #15
lines only show up when you add a moderator, apparently.

(and p value labels vanish).

[2017-12-07 21:46] mllewis commented on #1
The tooltips look awesome! Thanks for putting that together. Two minor thoughts: is it possible to cut the "short_cite" prefix and the "trace" legend?

[2017-12-07 21:47] mcfrank opened #16 "fix p value labels on funnel plot"
or maybe get rid of these and mark them in the legend instead. (sho has added this to the google doc).

[2017-12-07 21:47] mllewis commented on #1
Doh...ditto Mike's comment...

[2017-12-07 21:48] mcfrank opened #17 "remove save buttons for ggplotly plots"
because the plotly plugin does this anyway.

[2017-12-07 21:50] mcfrank opened #18 "add experiment number to forest plot"
and add plotly so the save interface is uniform.

could add experiment number as the tool tip.

[2017-12-07 21:53] mcfrank opened #19 "add option to turn off meta-analytic model on forest plot"
would be useful just to have an option for the clean forest plot. maybe a checkbox?

[2017-12-07 21:58] mcfrank opened #20 "typo in title text for statistical word segmentation on domain meta page"

[2017-12-07 22:01] mcfrank opened #21 "modify thumbnails for domains"
boring candidate for early language – waveform: https://commons.wikimedia.org/wiki/File:Signal-speech-martin-de.png

we need help here, what should we have for logos for the domains?

[2017-12-07 22:03] mcfrank commented on #21
or use icons like the ones here: https://langcog.github.io/PAQ/

(sho says she will try her hand at this)

[2017-12-07 22:06] mcfrank opened #22 "add domain selector to power analysis app"

[2017-12-07 22:07] mcfrank opened #23 "analyses page"
- [x] rename visualizations "meta-analytic visualizations"
- [x] remove distinction between common and specific analyses (call them all "analyses")
- [x] get rid of domain-specific analyses in a temporary way so that when we have some we can put them back
- [x] put meta-analytic visualization left-most in display to match homepage and because it's most important

[2017-12-07 22:08] mcfrank opened #24 "reports are super out of date"
@mllewis and @christinabergmann and @shotsuji - can you update these?

[2017-12-07 22:10] mcfrank commented on #11
if we think this is good, we need to write some text about it on the `statistical models` tab of the documentation page. right now we say you can't get r2 from it and you can't do funnel plot asymmetry but we don't have those in here anyway.

[2017-12-07 22:13] mcfrank opened #25 "field specification doesn't render"
let's check this, should look like it does on the current site version.

plus we want a little text at the top that says:

[2017-12-07 22:15] mcfrank opened #26 "tutorial text needs rewriting"
cecile (cecile.issard@gmail.com) has been asked to work on this, we can coordinate with her.

[2017-12-07 22:15] mcfrank commented on #26
we can also embed the videos more directly as inline youtube links, that would be cool.

[2017-12-07 22:16] mcfrank commented on #26
let's cut the upcoming events bit.

[2017-12-07 22:18] mcfrank opened #27 "publications tabs"
- [x] publications on metalab needs citations for @mllewis paper, @christinabergmann paper
- [ ] dataset publications should be a rendered table with the name of the dataset and the publication that is associated with it in `datasets`
- [x] publications using metalab should have @shotsuji interspeech paper

please respond with the desired citation and link

[2017-12-07 22:22] mcfrank opened #28 "updates to about page"
- [x] add @amsan7
- [x] put mika as former member
- [x] confirming former member for page as well (@shotsuji will confirm)
- [x] add some implementation details (github pages + shiny server) under source code, and credit @daattali and AttaliTech for redesign - Dean, can you tell us what kind of attribution you want here?
- [x] under funding thank RStudio for their education license of Shiny Server

[2017-12-07 22:24] daattali commented on #28
Any mention of AttaliTech Ltd would be fantastic, with a link would be even
nicer. But I'm not expecting this, it's 100% ok if you omit any credits
since it was paid

On Dec 7, 2017 17:22, "Michael Frank" <notifications@github.com> wrote:

[2017-12-07 22:42] #20 closed

[2017-12-07 23:12] #28 closed

[2017-12-08 01:14] #25 closed

[2017-12-08 03:08] #23 closed

[2017-12-08 04:56] #22 closed

[2017-12-08 05:06] #17 closed

[2017-12-08 05:41] #3 closed

[2017-12-08 05:46] amsan7 commented on #1
haha yeah, i'm looking into it!

[2017-12-08 07:53] christinabergmann commented on #27
Yep, it's been on my to-do list, sorry.
The APA references for all papers  should be:

Metalab publicatons:

Bergmann, C., Tsuji, S., Piccinini, P.E., Lewis, M., Braginsky, M., Frank,
M.C., & Cristia, A. (2017/in press) Promoting replicability in
developmental research through meta-analyses: Insights from language
acquisition research. Child Development.

Lewis, M., Braginsky, M., Tsuji, S., Bergm

[2017-12-08 21:30] shotsuji commented on #26
Cecile will finish up the texts this weekend!

[2017-12-08 22:06] shotsuji commented on #24
I updated hierarchical random effects report.
For the others - remember to remove the passage about "re-rendering nightly" from the header!

[2017-12-11 13:48] christinabergmann commented on #27
Follow-up, do we want people to always cite both main papers or leave them a choice or define specific use cases (the last will probably lead to a lot of follow-up questions)?

[2017-12-11 14:12] christinabergmann opened #29 "Link to dataset documentation from viz app -> double nav bar."
When going to the dataset documentation page through the visualization app, I see a double nav bar. The link also remains the visualization page.

[2017-12-11 14:22] christinabergmann commented on #13
Great points, is z useful for any MA?
Defaults could be domain specific (r in the individual diffs domain [I do remember talks about making a separate domain for those] makes a lot of sense, but not much elsewhere), but having all used ones in there as options might be nice.

In short: remove z, make g default, leave d and r, and make r default for pointing.

[2017-12-11 14:27] christinabergmann commented on #11
Agreed, but we should also add a nested effect for the infants (this requires us to fix same_infant) and have different defaults depending on the MA, I think. @shotsuji knows much better though.

[2017-12-11 14:30] christinabergmann opened #30 "Forest plot missing points"
For some rows in the forest plot, there is no indicated meta-analytic average (blue triangle and error bar in default mode without moderators).

[2017-12-11 14:32] christinabergmann opened #31 "Sort dataset on documentation page by domain"
(Should be easy to do)
Open question: Have domain headers on one tab or diff tabs per domain?

[2017-12-11 14:59] christinabergmann opened #32 "Add contribute page in documentation"
It's announced and not present, so would be good to have some quick instructions how to contribute. Cecile might help with that?

[2017-12-11 18:30] mcfrank commented on #27
I think it'd be fine to say "cite either of these" - that's maybe most
straightforward?

On Mon, Dec 11, 2017 at 5:48 AM, Christina Bergmann <
notifications@github.com> wrote:

[2017-12-11 18:53] christinabergmann commented on #27
Ok, will adjust the text.

Dataset table is missing, linking to documentation for now.

Am 11.12.2017 19:30 schrieb "Michael Frank" <notifications@github.com>:

[2017-12-11 19:26] shotsuji commented on #12
I'll ask whether Cecile can check same_infant tab - otherwise I'll do!

[2017-12-11 19:28] shotsuji commented on #11
@christinabergmann, agreed, see related issue we opened "nesting structure for MA model".

[2017-12-11 19:33] shotsuji commented on #32
I'll email Alex & Cecile suggesting a github account for her!

[2017-12-11 19:41] shotsuji commented on #26
Links to the new docs (I'll look over them, but in case someone else also wants to:)

Tutorial
https://docs.google.com/document/d/1yegayuy0dO1Urx5yaxyrK61w8hJu6ZcTQBqnQGqdBFg/edit#heading=h.sav2g02b3dip

Motivation & background
https://docs.google.com/document/d/1BlZYnve3Q3DJ5RES81Jce0Ax6wTUpLuTjBzXyRePDkw/edit#heading=h.4s8taiiwivia

[2017-12-11 19:44] mcfrank commented on #26
they look generally great, but I would suggest 1) making the section
headings consistent between them, e.g. either numbered or not numbered, and
2) breaking them up further into sub-pages (e.g., 1 and 2 from the
"building" doc as separate tabs, then several other sub-chunks in the other
doc). Otherwise they may get a little overwhelming.

On Mon, Dec 11, 2017 at 11:42 AM, shotsuji <notifications@g

[2017-12-11 19:45] shotsuji commented on #26
Ok will be done!

[2017-12-11 20:47] #29 closed

[2017-12-11 21:30] #10 closed

[2017-12-11 21:32] amsan7 commented on #31
they're now sorted by domain + alphabetical. what do you mean by domain headers? i don't see any

[2017-12-12 07:14] christinabergmann commented on #31
Great re: alphabetical.
We now have 2 domains, so I thought we could have subheaders on this page
per domain (or separate pages per domain, if there are too many?) that
separate groups of datasets for even more clarity.

On 11 December 2017 at 22:32, Alessandro <notifications@github.com> wrote:

--
Christina Bergmann, MSc
Centre for Language Studies and IMPRS-LS
Radboud University Nijmegen, The Ne

[2017-12-12 19:30] shotsuji opened #33 "Add Cecile to github"
Hi @mcfrank can you please give Cecile access to the repo? https://github.com/cissard @cissard
Thank you!

[2017-12-12 19:31] amsan7 commented on #33
done!

On Tue, Dec 12, 2017 at 11:30 AM, shotsuji <notifications@github.com> wrote:

[2017-12-13 03:41] amsan7 commented on #31
great, i added domain headers, feel free to check out and see if it looks ok

[2017-12-13 07:36] christinabergmann commented on #31
Looks great, thanks.

On 13 December 2017 at 04:41, Alessandro <notifications@github.com> wrote:

--
Christina Bergmann, MSc
Centre for Language Studies and IMPRS-LS
Radboud University Nijmegen, The Netherlands

https://sites.google.com/site/chbergma/

[2017-12-13 10:53] #31 closed

[2017-12-13 13:03] shotsuji commented on #33
Hi, actually @alecristia also needs to be added - and I do not seem to have the rights to see settings (and add someone at least at a collaborator) - can that be fixed for everyone concerned as well? Thanks :)

[2017-12-13 13:25] cissard commented on #33
Thanks !

[2017-12-13 18:51] #33 closed

[2017-12-14 15:36] shotsuji commented on #21
With Christinas feedback, done! I just went ahead and replaced them in images/domains - if anyone wants further adjustments let me know.

[2017-12-16 03:28] amsan7 commented on #8
oops, forgot to add to power apps

[2017-12-20 14:40] christinabergmann commented on #21
OK closing now, nobody objected :)

[2017-12-20 14:40] #21 closed

[2017-12-20 16:21] christinabergmann commented on #24
Not sure what to adapt about developmental curves apart from the disclaimer.
Removed p-curves for now bc we are still discussing them and it might be nice to have them as app.

[2017-12-20 16:23] christinabergmann opened #34 "Add multiple age groups column for subsetting?"
Looking at the Developmental Curves report and some of our own work, subsetting to papers which report on at least 2 age groups might be more informative when investigating age effects.
Should we automatically add a column (n age groups per paper >2 and some months apart) and a subsetting option?

[2017-12-21 03:36] shotsuji commented on #24
Mostly this was based on the report headers who showed a very old date.
However it WOULD be nice if they were automatically re-rendered from time to time. Why did we abandon that system again?

[2017-12-21 03:40] shotsuji commented on #34
I like that idea!
Small problem with the automatic addition of this is, though, that this can go wrong: E.g., two groups with same age in months but different exact age (in days). Sometimes this can lead to different months. I remember trying to solve this with round() or floor() and that none of those worked for all cases. But maybe there's a more clever option?

[2017-12-21 10:09] christinabergmann commented on #34
Hi again, you are right, there needs to be a check, how about 3 months minimum difference between age groups?
I see that the report does not really do that, here is the code:
[code]

[2017-12-21 10:09] christinabergmann opened #35 "Hierarchical random effects report does not render"
Not sure what's wrong, would be nice to have.

[2017-12-21 10:10] christinabergmann commented on #24
Ah ok, then the main issue is solved.
Would be good to have: "last updated on [date]" then, I guess @amsan7 knows more. :)

[2017-12-21 10:11] christinabergmann commented on #14
Now it would be good to have legends for the moderator effects. Also, "short_cite" still there.

[2017-12-21 14:26] christinabergmann commented on #13
For now:

- [ ] remove z
- [ ] change default to g

Later on:

- [ ] Add sth to spec to opt for diff defaults?

[2017-12-21 14:40] christinabergmann commented on #32
Made a first page, @cissard could expand if needed.

[2017-12-21 14:43] christinabergmann commented on #26
Would be good to have this up before rolling it out, can't assign @cissard rn (invite sent), but I think she has the new text.

[2017-12-21 14:51] shotsuji commented on #26
Yeah she hasn't accepted the invite.
But we are on it off github.
I've commented a bunch on her text, I'll ping her to work on revising next.

[2017-12-21 15:07] cissard commented on #26
Yes I did… I don’t know why I don’t see your assignments.
Le 21 déc. 2017 à 15:51, shotsuji <notifications@github.com<mailto:notifications@github.com>> a écrit :

Yeah she hasn't accepted the invite.
But we are on it off github.
I've commented a bunch on her text, I'll ping her to work on revising next.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on

[2017-12-21 16:21] shotsuji commented on #26
Ah perfect assigning works now! Sorry @cissard :)
So for everyone that has not seen another thread: She will work on the tutorial next Wednesday
cc @christinabergmann

[2017-12-21 16:25] shotsuji commented on #12
On it! Still to do
- check last issues with same_infant column
- check whether defaulting to this nesting structure breaks anything
- if not, implement.
I'll take care of the first 2 and see whether I need help with 3!

[2017-12-21 16:46] shotsuji commented on #35
Yes I know. The structure of source file had changed after my last update (from dashboard/global.R) to /scripts/main_builder.R). Updated - hope it works now.
However, I see that the dev_curves report does not use the source() command at all anymore.
Let's ask @amsan7 again:
For reports to render on the website, is it right that we would not need to specify a source() command anymore?

[2017-12-21 16:47] shotsuji commented on #34
yah that sounds like a good start!

[2017-12-23 07:48] christinabergmann commented on #35
That's what Dean's documentation says (main readme):
"Creating reports - no need to source dashboard/global.R

In the previous version of metalab, all Rmd reports had a line:
source("../dashboard/global.R",
chdir = TRUE). This is not needed, because the build script that renders
the Rmd reports already has the code from that setup script, and its
environment is accessible to the reports."

So no s

[2017-12-24 14:24] amsan7 commented on #35
it's up now! i got rid of the "setup" label for the first chunk, because the errors complained that there were multiple. i also commented out the "source()" code. let me know if everything looks ok

[2017-12-24 14:28] amsan7 commented on #24
just catching up here - is the issue resolved? w respect to headers being out of date, the hierarchical random effects report correctly displays "This report was rendered on 2017-12-24." Also, it seems like the reports do re-render daily.

[2017-12-25 00:37] #8 closed

[2017-12-26 11:17] #1 closed

[2017-12-26 11:44] #15 closed

[2017-12-26 11:58] amsan7 commented on #16
@shotsuji could you point me to google doc again? for this issue, if i remember correctly, we wanted to remove the p-value text embedded in the funnel plot and put it in the help text.. but not sure

[2017-12-26 12:46] amsan7 commented on #18
added the tooltip "Experiment #{expt_num}" to forest plot

[2017-12-26 12:46] #18 closed

[2017-12-26 12:50] amsan7 commented on #14
@christinabergmann did you want to create another issue for the moderator effect legend? closing this one as trace N legend and short_cite are now gone

[2017-12-26 12:50] #14 closed

[2017-12-26 14:22] #30 closed

[2017-12-27 16:38] cissard commented on #26
Thank you for your comments and edit ! I included the changes in the Rmd files in the [tutorial folder](https://github.com/langcog/metalab2/tree/master/tutorials).

For the moments for the videos there are only snapshots that include the link to the relevant video.

I split the building_ma document into several more specific ones.

I let you close the issue if you are satisfied with the changes, o

[2017-12-27 22:53] shotsuji commented on #16
You remember correctly!
here's the link: https://docs.google.com/document/d/10v6KdtVXRKtAKZWTX85ZkFdXSbGMUEI1dUhf1El-q9I/edit

or, here's the relevant text directly: Studies with high precision should be close to the average, while studies with low precision can be spread evenly on both sides of the average when there is no publication bias. An asymmetric shape can be an indicator of publication b

[2017-12-27 22:53] shotsuji commented on #35
yes. thank you!

[2017-12-27 22:53] #35 closed

[2017-12-27 22:55] shotsuji commented on #24
@amsan7 if the reports re-render daily and the header date changes accordingly this should be resolved :)

[2017-12-27 22:55] #24 closed

[2017-12-27 23:20] shotsuji commented on #26
Hi Cecile,
Looking good, thank you!
As to the video embedding, I changed it for the first video in buliding_ma.Rmd so that it is actually embedded and not only showing a snapshot. Would be great if you could change it accordingly for the other videos.
You can just copy the whole chunk ```{r video 1..... until ``` and replace the video ID (that's the alphanumeric code you find in the link to that s

[2017-12-27 23:21] shotsuji commented on #26
@amsan7 one question: for the above embedding of youtube videos I needed to call two libraries, see buliding_ma.Rmd. Is it ok to call the libraries here or should they be called somewhere else?

[2017-12-28 08:17] amsan7 commented on #16
ah, thanks for the doc! ok, this should be fixed, closing this issue :)

[2017-12-28 08:17] #16 closed

[2017-12-28 09:30] amsan7 commented on #26
yes you call the libraries there - but you also have to add the packages to metadata/packageInfo.csv so the update script knows to install the packages on the metalab server. like I did here: https://github.com/langcog/metalab2/commit/588a5ea97e04c399d556568ea64a49622d251616

[2017-12-28 14:38] cissard commented on #26
Thanks for the code ! I will copy it for the other videos.

Le 28 déc. 2017 à 00:20, shotsuji <notifications@github.com<mailto:notifications@github.com>> a écrit :

Hi Cecile,
Looking good, thank you!
As to the video embedding, I changed it for the first video in buliding_ma.Rmd so that it is actually embedded and not only showing a snapshot. Would be great if you could change it accordingly for t

[2017-12-28 15:10] shotsuji commented on #26
@amsan7 thanks next time I'll do it myself!
@cecile thanks!

[2018-01-03 10:07] christinabergmann opened #36 "add legend for moderator visualization"
Many moderators have more than 2 levels, so a legend is needed in the scatter plot.

[2018-01-03 12:05] cissard opened #37 "tutorials don't render"
The tutorials are not updated on the new website. I checked the [.../metadata/tutorials.yaml](https://github.com/langcog/metalab2/blob/master/metadata/tutorials.yaml) page, the new tutorials are specified.

[2018-01-03 12:20] cissard commented on #26
Videos are now embedded.

[2018-01-03 12:24] cissard opened #38 "tutorials: remove the link to the youtube playlist"
As the new tutorials include embedded videos maybe it's redunndant to have the link to the youtube playlist at the top of the [tutorials main page](https://langcog.github.io/metalab2/tutorials.html)? If yes I can modify the code.

[2018-01-03 12:50] cissard commented on #32
I just added a reference to the tutorial on how to edit existing MA in the MetaLab format.

[2018-01-03 15:30] christinabergmann opened #39 "Sort by year off"
In the forest plot, sorting by year yields weird results, I assume year extraction doesn't work.
(See eg Categorization bias).

[2018-01-03 17:05] shotsuji commented on #38
agreed! great if you can modify that

[2018-01-03 17:45] daattali commented on #37
Not sure. I tried adding new tutorials when testing and didn't notice any problems but that was a few months ago. I see there's a long history of changes to the tutorials yaml, have none of the changes to it ever worked? Perhaps check the build error log to see if there's anything there. I kept a test environment for a couple months but recently deleted it so it'll be hard for me to help test/debu

[2018-01-03 19:15] cissard commented on #37
Thanks for your quick reply! It seems to be a more general problem as I other changes that I made don't render either. I will look if it's related to bad setup I made with my account. Maybe I have to make a pull request and not only commits within the repo?

I know you're not responsible anymore so I will ask the current members. Thank you very much !

[2018-01-03 19:22] shotsuji commented on #37
Hi. I think updates are rendered once a day - I know that your and my previous recent tutorial changes were rendered ok, so maybe we just need to wait for a few hours.

[2018-01-03 19:32] cissard commented on #38
I modified the code, I will check tomorrow the render.

[2018-01-03 19:33] cissard commented on #37
Thanks Sho! I will look up tomorrow!

[2018-01-03 19:41] daattali commented on #37
Ah yes - so did all the previous changes to the tutorial page DID work? If you look at https://github.com/langcog/metalab2/tree/gh-pages you'll see it gets rendered once a day, I believe it's at midnight UTC. It's automated by a crontask , as you can see in the README. I think in 4.5 hours will be the next automated render.

[2018-01-03 19:48] shotsuji commented on #37
Yeah looks to me as if they rendered fine before. Thanks Dean, it's good to know the time-point of rendering.

Cecile - if you still don't see the right updates tmr could you then tell me what exactly is missing (just because you mentioned you don't see my updates rendered, but I do see them)? TTY tmr!

[2018-01-03 19:52] cissard commented on #37
Yes some of them, and I just realized that I included the other ones in the yaml file only today. So sorry, my mistake.

@shotsuji yes now I see your update. I'll tell you tomorrow about today's updates.

[2018-01-04 10:04] christinabergmann commented on #38
Good point, and looks like removing worked.

[2018-01-04 10:04] #38 closed

[2018-01-04 10:05] christinabergmann commented on #32
Hm, strangely enough it's still not in the documentation.

[2018-01-04 10:05] #32 closed

[2018-01-04 10:06] christinabergmann commented on #26
I think this is solved, tutorials look great!

[2018-01-04 10:06] #26 closed

[2018-01-04 12:43] cissard opened #40 "tutorials videos are too wide"
I think making the videos as wide as the window is too much. On the opposite the pictures are difficult to read because they are too small. If you agree I can modify these two.

[2018-01-04 13:21] shotsuji commented on #40
Yes please!

[2018-01-04 14:06] amsan7 commented on #13
@christinabergmann removed z and changed default. did you want to add something to spec for this release or after?

[2018-01-04 14:07] christinabergmann commented on #13
That's for after, thanks!!

[2018-01-04 14:07] #13 closed

[2018-01-04 14:08] christinabergmann commented on #40
Seconded

[2018-01-04 14:08] christinabergmann commented on #37
I think this is solved, right?

[2018-01-04 15:45] shotsuji commented on #37
yes!

[2018-01-04 15:45] #37 closed

[2018-01-05 04:15] shotsuji commented on #12
I test-ran the data with the new nesting structure. It works fine (warning but no error for cases where there are no dependent rows; results look the same as without the nested structure for those cases) but have a few Q's before implementation. Putting your names behind the questions that are relevant for you.

1. Model.  @mcfrank @christinabergmann @mllewis
Would you agree with
rma.mv(g_calc, g_

[2018-01-05 04:15] shotsuji commented on #12
Note to self: Also change the statistical model documentation Rmd once this is implemented.

[2018-01-05 10:17] christinabergmann commented on #12
Would it make sense to add a column (I'd suggest in `scripts/cache_datasets.R`) and then just call it? Otherwise this looks fine to me (I think when we tested it for InWordDB we didn't do row, but I don't think it makes a big difference, if I note a problem it should be easy to remove).

Clarification question: We keep "simple" RE and FE models but this is the default now, right? Or should we remo

[2018-01-06 01:59] shotsuji commented on #12
@christinabergmann you mean adding column instead of the paste() thing? Yah good point will do (just wanted to point it out here so we all know the limits of our newly coded same_infant column).

As to the clarification question -- I don't think that has been decided upon.
I vote for just leaving them out and only have this default. We could explain it in documentation, including the formulas for

[2018-01-06 09:47] christinabergmann commented on #12
Yay for adding columns!

OK, two voted for a default without selection, then.
We'd only lose the Bayesian option in this case, but it's imo so
specialized that interested users might want to download the data and do it
themselves anyhow.

On 6 January 2018 at 02:59, shotsuji <notifications@github.com> wrote:

--
Researcher at the Max Planck Institute for Psycholinguistics, Language
Development Dep

[2018-01-07 18:22] amsan7 commented on #39
you were referring to the wrong ordering of some of the years right? think it's fixed now!

[2018-01-07 18:22] #39 closed

[2018-01-08 15:41] christinabergmann commented on #39
Yep, looks great now, thanks @amsan7!!!

[2018-01-08 21:33] amsan7 opened #41 "weird field specifications behavior"
it only shows up when you refresh

[2018-01-08 22:09] mcfrank opened #42 "check categorization bias MA"
@mllewis just want to make sure we don't want any default moderators or other behavior for the categorization bias MA, since the results look pretty nutty (d = 10 and -10 for some pair of studies from Markman & Hutchison, e.g.).

[2018-01-08 22:11] mcfrank opened #43 "face race MA"
we now have the data here, who was going to be in charge of inputting these? was it @christinabergmann or @cissard? I think it would be great to get this in before release as it'll look like we have TWO whole cognitive development MAs. :)

[2018-01-08 22:12] mcfrank commented on #40
I think we should actually format the whole tutorial tab so it's much less wide and hence more readable... the videos could come with this. :)

[2018-01-09 05:26] christinabergmann commented on #43
It's me, I am on it.

Am 08.01.2018 23:11 schrieb "Michael Frank" <notifications@github.com>:

[2018-01-09 17:15] mllewis commented on #42
Fixed - I had added the moderators to the dataset.yaml file but not the spec.yaml file.

[2018-01-09 17:15] #42 closed

[2018-01-10 10:57] cissard commented on #40
I've changed the names of the tabs, let me know what you think.

For the size of the videos I've made a first try on the first video based on the package doc. I'll check tomorrow if it works and if yes I will update the others.

[2018-01-10 12:50] cissard commented on #43
What about the idea that unless someone opposes I am in charge of inputting new MAs ? Christina let me know if you want me to do anything with the face MA. It would be very useful for me to see how you input.

[2018-01-10 12:58] christinabergmann commented on #43
In principle, I am all for this, but in this case, the authors already did
the inputting and I am busy with some checks. But for the next
meta-analysis, do go ahead!

On 10 January 2018 at 13:50, Cécile Issard <notifications@github.com> wrote:

--
Researcher at the Max Planck Institute for Psycholinguistics, Language
Development Department, Nijmegen, The Netherlands
Website: sites.google.com/site/

[2018-01-10 13:09] cissard commented on #43
OK great !

[2018-01-10 16:28] christinabergmann opened #44 "Visualization page doesn't exist"
Clicking on meta-analytic visualization leads nowhere :(

[2018-01-10 22:43] amsan7 commented on #44
so there was a tinyy typo that's fixed here: https://github.com/langcog/metalab2/commit/df429dc9dcbf2e6d8f023246421621746f0721d6. @mllewis just a reminder that these things complain for everything :p

[2018-01-10 22:43] #44 closed

[2018-01-11 17:31] christinabergmann opened #45 "Mututal Exclusivity does not appear in the documentation"
The data is there but I cannot find it on the Documentation page.

[2018-01-12 13:58] #43 closed

[2018-01-14 19:18] shotsuji commented on #12
Formula updated and implemented.
What else to do?

- [ ] Make this the default model (without other options) (?) @mcfrank @alecristia @mllewis could you pitch in on this please?

- [ ] IF WE DO THIS WE NEED TO UPDATE THE STATISTICAL APPROACH SECTION IM DOCUMENTATION. Happy to do so but need to know soon.

- [ ] Minor: Do we want to update description text beneath this option on the visualization p

[2018-01-14 19:35] shotsuji commented on #40
@cissard I changed back some of the tab names - especially the first one did not work in English :)
Have you succeeded with the videos? If I knit them locally the size is ok, I don't understand why they get so wide online (@amsan7 any hunch?)

@amsan7 if I want to change the width of the tutorial pages like Mike suggests, am I right to do so in pages/tutorials.Rmd?

[2018-01-14 19:46] shotsuji opened #47 "Inconsistency in model specification - not critical but should be revisited"
The "model" and "no_mod_model" functions are coded differently in server.R
(e.g., "slab = make.unique(short_cite)" vs. "slab = make.unique(data()[["short_cite"]])".

Latter leads to awkward model variance component notation on visualizations page so should be dealt with at some point. Results are the same though.

@amsan7 and I checked that changing to notation without data() works fine, but haven

[2018-01-14 19:50] amsan7 commented on #40
adjusting width on tutorials.Rmd should be right - did it work for you?

[2018-01-14 19:53] shotsuji commented on #40
How do I check that locally (since it won't reflect in individual Rmds)?

[2018-01-14 19:55] amsan7 commented on #40
you should be able to cd into scripts and run `Rscript main_builder.R` which will produce html in the rendered folder. The tutorials.html page is there.

I did deploy your changes so you can see it online - looks like it's a bit too narrow so might want to try something in between: http://metalab.stanford.edu/tutorials.html

[2018-01-14 20:29] mcfrank commented on #40
My though on this is that we want a single layout, centered and fixed
width, for About / Tutorials / Documentation / Publications / Analyses.
Note that Analyses and About already have a layout that has that property,
so we just want to get the others doing the same thing.

On Sun, Jan 14, 2018 at 11:55 AM, Alessandro <notifications@github.com>
wrote:

[2018-01-14 20:42] shotsuji commented on #40
Ok that sounds good - @amsan7 will you be able to do this?

I am still having trouble with the video width though - although I specified a width in the tutorials (see why_do_a_MA.Rmd), when rendered the videos default to width of the tutorials page.
I assume I'd need to change this in tutorials.Rmd somehow? This is not a crucial issue but it does look unprofessional.

[2018-01-15 10:31] christinabergmann commented on #12
Strongly in favor of making it the default and happy to help with the documentation.

And do we need the description text if there is nothing else to select? People can then look at the statistical approach page (we can link to that), and they don't need to worry about it on the visualization page at all.

[2018-01-15 10:46] cissard commented on #40
Thanks Sho for correcting the tab names !
Le 14 janv. 2018 à 21:42, shotsuji <notifications@github.com<mailto:notifications@github.com>> a écrit :

Ok that sounds good - @amsan7<https://github.com/amsan7> will you be able to do this?

I am still having trouble with the video width though - although I specified a width in the tutorials (see why_do_a_MA.Rmd), when rendered the videos default to widt

[2018-01-15 17:53] christinabergmann commented on #40
Hi @amsan7, might this in a code chunk work?

`<iframe width="560" height="315" src="http://www.youtube.com/embed/9bZkp7q19f0?rel=0" frameborder="0" allowfullscreen></iframe>`

(I am a bit confused about `/embed/` versus `feature=player_embedded` in the video urls

via: https://stackoverflow.com/questions/46401154/embed-htmlwidget-of-external-webpage-in-r-markdown-html-document

[2018-01-15 20:49] #41 closed

[2018-01-15 21:05] amsan7 commented on #12
just made it the default. let me know if we want to remove other options for release or postpone that to another time

[2018-01-15 21:09] christinabergmann commented on #12
Since noone objected, I'd say remove. It's much easier and more user
friendly.

On 15 January 2018 at 22:05, Alessandro <notifications@github.com> wrote:

--
Researcher at the Max Planck Institute for Psycholinguistics, Language
Development Department, Nijmegen, The Netherlands
Website: sites.google.com/site/chbergma
Blog: cogtales.wordpress.com

[2018-01-15 21:16] amsan7 commented on #12
ok, removed. I can also just get rid of the meta-analytic model dropdown and instead put some blurb about what model we're using and a link to documentation below the effect size type dropdown?

[2018-01-16 00:02] amsan7 commented on #40
interestingly the iframe stuff wasn't working for me but i decreased the width of page acc to @mcfrank 's suggestion, so that it looks more like Analyses

[2018-01-16 00:02] amsan7 commented on #12
great, it's done

[2018-01-16 00:02] #12 closed

[2018-01-16 00:27] shotsuji commented on #40
I also tried iframe - it works but again does not change the size of the videos in the rendered html (Alessandro, it has to be directly in the rmd not in a chunk, maybe that's why it didn't work for you? see updated why_do_a_MA.rmd)

I suspect we need to change something on a higher level, like in tutorials.Rmd, but have no idea how.

Although it looks stupid, if no one else has a hunch do we want

[2018-01-16 09:11] amsan7 commented on #36
added legend when moderator is selected

[2018-01-16 09:11] #36 closed

[2018-01-16 09:35] christinabergmann commented on #40
I think we either leave it or we simply link to the video instead of embedding it, both are fine with me. Thanks for all the work, @shotsuji and @amsan7. This is really annoying and fiddly :(

[2018-01-16 09:47] amsan7 commented on #40
think i got it working - ugh sorry always blank out on frontend work. @shotsuji if you want to adjust size of videos just change iframe style params in pages/tutorials.Rmd

[2018-01-16 09:47] #40 closed

[2018-01-16 09:50] christinabergmann commented on #40
Yesssss, looks great!

[2018-01-16 16:50] shotsuji commented on #40
Excellent! I adjusted to standard frame size. Thank you!!

[2018-01-16 18:10] mcfrank commented on #40
publications is now the only one with a different width, maybe we can do
this one too as the rest look great?

On Tue, Jan 16, 2018 at 8:50 AM, shotsuji <notifications@github.com> wrote:

[2018-01-16 18:14] #11 closed

[2018-01-16 18:44] amsan7 opened #49 "publications tab still wide"
should be like analyses, documentation, etc

[2018-01-17 17:21] mcfrank opened #50 "add analytics token from previous metalab website..."
[code]

[2018-01-24 14:04] christinabergmann opened #51 "References for effect size calculations still imcomplete"
Just to make sure we document everything nicely: Not all effect size formulae come with a reference, for example within participant based on F scores and n. I didn't use this, so I am not sure where it's from.

[2018-02-22 10:43] christinabergmann opened #52 "Paired meta-analyses visualization / calculation"
Some MAs are pairs of two conditions that ideally are displayed in two ways:
1. separated by condition, but in the same visualization
2. as difference between conditions

I'll try and work through an example:
https://docs.google.com/spreadsheets/d/1rZl-Ub5qOE_WJwHg23g8ijgANdRC82PQUXRbh6TJeKQ/edit#gid=0
Is the old version of what is now the AGL meta-analysis:
https://docs.google.com/spreadsheets/d/

[2018-02-22 11:28] christinabergmann opened #53 "Add curator definition to documentation"
Responsibilities of a curator:
- executive decisions regarding spreadsheet content
- determines moderators to be displayed
- update data
- verify and correct if needed
- ...

[2018-02-26 23:02] amsan7 commented on #52
from our meeting (w/ @mcfrank), we are thinking:

- in `compute_es` pipeline, look for `paired` MAs, and compute ES for paired conditions (associating these only with the row in the data that has the treatment condition)
- in the visualization, add a selector for when there is a `paired` MA, to either "show all effect sizes" or "show effect sizes on comparison to control conditions."
- when "show

[2018-03-02 11:59] christinabergmann opened #54 "Visualization page does not exist"
http://metalab.stanford.edu/app.html?id=visualization leads to page not found, any ideas anyone?

CC @amsan7

[2018-03-02 12:00] christinabergmann commented on #54
Btw, also holds for the other shiny apps

[2018-03-03 23:18] amsan7 commented on #54
fixed this yesterday - had to do with issue on the server

[2018-03-03 23:18] #54 closed

[2018-03-09 13:18] christinabergmann opened #55 "Have a peer-reviewed subset selector for all MAs?"
Some people argue against including unpublished data or information from conference abstracts, should we make subsetting to peer reviewed a standard option?

[2018-03-09 16:27] mcfrank commented on #55
It's as easy as a checkbox, so I don't see why not, unless we think that
they *shouldn't* be able to do that.

On Fri, Mar 9, 2018 at 5:18 AM, Christina Bergmann <notifications@github.com

[2018-03-09 16:36] christinabergmann commented on #55
OK, should we specify it in the datasets.yaml or make it standard?

[2018-03-13 09:25] shotsuji opened #56 "Insert MetaLab logo into website"
Insert MetaLab logo into website

[2018-03-14 13:11] christinabergmann commented on #34
To bring this back, I've played a bit with the data and at least for word segmentation, the above definition is too general, because it still includes cases where infants across age groups were tested in different conditions and then one or two were explored with multiple age groups. I am not sure how else to automatize this, because for example experiment number might not be consistently remain t

[2018-03-14 14:12] christinabergmann commented on #56
Ideally a more knowledgeable person than me also adds a nice description and mini-logo in the browser tab thingy

[2018-03-14 16:16] mcfrank opened #57 "revamp power analysis app"
- [ ] confidence intervals on estimates
- [ ] robust estimation methods
- [ ] consider adding interaction effect size or experiment vs. control effect size power analysis

[2018-03-14 16:16] mcfrank commented on #57
@fusaroli suggested some of this - other ideas, Ricardo?

[2018-03-14 16:45] fusaroli commented on #57
Trade-off between number of unique stimuli, participants and/or trials?

[2018-03-16 09:01] christinabergmann commented on #57
Oooh, the interaction bit might also nicely interface with meta-analyses in #52

[2018-03-21 12:34] cissard opened #58 "update citations in the documentation"
Several citations are out of date in the [documentation page listing the datasets ](http://metalab.stanford.edu/documentation.html). Also no citation is provided for the label advantage in concept learning (curated by @mllewis).

If you send me a citation I can update them.

[2018-03-21 13:19] cissard commented on #53
added to the documentation in the contribute tab.

[2018-03-27 08:54] christinabergmann commented on #53
Great, should we schedule this annual curator mail with all curator names to the metalab mailing list? Should be possible, right?

[2018-03-27 08:55] christinabergmann opened #59 "Word segmentation MAs don't appear in Early Language documentation"
Here are two MAs missing: http://metalab.stanford.edu/domain/early_language.html
Word Segmentation and Statistical word segmentation.

[2018-03-27 09:09] christinabergmann opened #60 "Weird behavior when exporting data"
I've tried to export/import some MA data, but that doesn't work. There are a bunch of issues.
(1) .csv when it's semicolon separated doesn't mesh with google drive. Not sure how to fix this.

Example case is inworddb.
Original spreadsheet: https://docs.google.com/spreadsheets/d/1djn_-iE4uOs6yRmvBgzYAhB5guzfo3-3wnC7LJVLCe8/edit#gid=0
Reimported spreadsheet: https://docs.google.com/spreadsheets/d/1j

[2018-03-27 09:34] christinabergmann commented on #60
Short update: It looks like all effect sizes above 1/below -1 are affected. The problem persists when trying out different delimiters.

[2018-03-28 09:00] christinabergmann opened #61 "Custom moderators don't show up in word segmentation"
Moderators specified in https://github.com/langcog/metalab2/blob/master/metadata/datasets.yaml don't show up in the visualization app.
Might be related to #59.

[2018-03-28 11:24] cissard commented on #53
The changes don't render on the website.

[2018-04-05 05:55] shotsuji commented on #60
[copying in emails]
Hi Christina,

I just downloaded the word segmentation DB as .csv (using the "Download data" button at the top right of visualization page),
and for me opening it in excel did NOT cause the problems you describe. I use a US MS Office.

So it might be indeed a comma versus dot excel problem?

Sho

Thanks Sho, I also used the download button, then it might be a EU/US issue, but i

[2018-04-05 05:56] shotsuji commented on #60
Christina - just to be sure what you mean, so when you download the csv and directly import into google sheets (without doing the excel transform) the problem persists?

(Just want to try replicating this issue on my French Lenovo)

[2018-04-05 06:01] shotsuji commented on #60
Oh I see you weren't able to open the csv in google sheets directly?
For me that was no problem - just to be sure we did the same thing:
I did
New --> File upload --> selected csv --> upload --> click on uploaded item and "open with google sheets"
Upload was ok & I did not get the weird values you report; see here: https://docs.google.com/spreadsheets/d/12t2-Uo978HN80wzHnv5PvynNcL2kAvZeGdwOQCdQP2k

[2018-04-05 06:02] christinabergmann commented on #60
Thanks, Sho, for putting it all in one place!

Indeed, my mistake, I played with separators and might have caused my
earlier opening issues myself. Going directly to google sheets works, all
looks good there. So we have to explicitly recommend not using non-US Excel
versions until this is fixed.

On 5 April 2018 at 08:01, shotsuji <notifications@github.com> wrote:

--
Researcher at the Max Planck

[2018-04-05 06:12] shotsuji commented on #60
Hi,
I had no problem viewing this with my French MS Office either.
However, I noticed that I had already set the options in this system to use "." instead of "," as decimal separators. Better you google yourself how to do it under your specific excel version since it differs,  but for me it is  Fichier --> Options Excel --> Options avancees.
Maybe you could check if that resolves your problem, and

[2018-04-05 08:24] christinabergmann commented on #60
Indeed, that makes the difference. We should add to the website that if you want to use excel etc you have to first make sure you set the decimal separator to "."
Thanks!!!

[2018-04-05 08:24] #60 closed

[2018-04-05 08:33] christinabergmann opened #62 "Add instructions on how to export and work with the data"
In the documentation, add a page on how to use the metalab data to:
1. calculate power
2. conduct custom analyses (eg with subsets by language or methods)
3. other use cases we have come across

Also add how to download the data (via visualization and dataset page) and give instruction how to set "." as decimal separator and "," as table separator when users want to use excel, open office, or simi

[2018-04-06 08:31] christinabergmann commented on #59
Update: Natural language word segmentation appears, statistical segmentation is still not there.

[2018-04-11 10:43] cissard opened #63 "Add a box about the challenge on the home page"
Add a box containing  [this info](https://docs.google.com/document/d/1IP7YfpWxT0ntD7a4UiQyBgkML9buXM8m3wgQiayN_L4/edit) to grab people interest about the challenge and get more submissions.

[2018-04-11 11:13] alecristia commented on #58
Hi C,

Sorry, I hadn't registered this issue. Here's mine:
Cristia, A., (in press). Can infants learn phonology in the lab? A meta-analytic answer. Cognition.

@shotsuji isn't there an update for:
Citation: Lammertink, I., Fort, M., Peperkamp, S., Fikkert, P., Guevara-Rukoz, A., & Tsuji, S. (2016). SymBuki: A meta-analysis on the sound-symbolic bouba-kiki effect in infants andtoddlers. Poster pres

[2018-04-11 13:48] cissard commented on #62
Hi Christina,

I am not sure of what to write for the first 3 points. Are you thinking of something like what Alex wrote [there](https://sites.google.com/site/inphondb/what-can-you-do-with-inphondb), like in the 2nd par. of section 1.3 for power or in section 3 for custom analyses?

Best,

Cécile

[2018-04-12 02:00] shotsuji commented on #58
Hi,
Absolutely! Thanks Cecile and Alex for keeping track!!

Fort, M., Lammertink, I., Peperkamp, S., Guevara-Rukoz, A., Fikkert, P., & Tsuji, S. (2018). SymBouki: a meta-analysis on the emergence of sound symbolism in early language acquisition. Developmental Science, Early View. doi: 10.1111/desc.12659.

[2018-04-12 08:32] shotsuji opened #64 "Add DOI column?"
Hi,
I've started that with new entries - would we want to add a column "doi" to all datasets?
Sho

[2018-04-12 09:39] alecristia opened #65 "new version of vowels MA with talker normalization information"
I have prepared a new version using a script that splits information formerly bunched into one column:
https://docs.google.com/spreadsheets/d/1n3BQj8fimL8LDJ72Y06zBpj_ysSxolCP1dwho7JsER8/edit#gid=1372713622

- the first tab is the original vowels database
- the second is the new one
- the third has a formula for comparison

There are some apparent divergences because R removes field-initial spaces

[2018-04-12 09:53] alecristia commented on #65
Addition: In the "new" version I've used black background + white font to mark the columns that I'm NOT going to add back (because they didn't work well in the split script, probably because the contents were human-readable only; notice factors and numeric columns imported okay).

[2018-04-12 10:02] alecristia commented on #65
Red background = new columns I'll be coding

[2018-04-12 10:04] alecristia commented on #65
I'm marking errors I'm finding in the original tab as comments

[2018-04-12 10:42] alecristia opened #66 "papers to add to the vowels-native or non-native"
https://www.nature.com/articles/nn0998_351
Development of language-specific phoneme representations in the infant brain
Marie Cheour, Rita Ceponiene, Anne Lehtokoski, Aavo Luuk, Jüri Allik, Kimmo Alho & Risto Näätänen
Studies using behavioral methods, such as head-turning experiments, in which children are conditioned to turn their heads toward the sound source when they detect a change in the sou

[2018-04-12 10:46] alecristia commented on #66
apologies -- it's already in there!

[2018-04-12 10:48] alecristia commented on #66
Wait, it's not -- the one already in there is:
Cheour, M., Alho, K., Ceponiene, R., Reinikainen, K., Sainio, K., Pohjavuori, M., Aaltonen, O., & Naatanen, R. (1998). Maturation of mismatch negativity in infants. International Journal of Psychophysiology 29, 217-226.
which has newborns and 3mo, whereas this abstract evokes 6 and 12m

[2018-04-12 11:15] christinabergmann commented on #64
I like it, I used to do it for InWordDB, too, and it makes finding the source paper much easier.

[2018-04-12 11:16] christinabergmann commented on #62
Yes, those instructions by Sho are a really good start!

[2018-04-12 11:33] alecristia opened #67 "instructions for fitting meta-analytic models"
In http://metalab.stanford.edu/tutorials.html#coding_MA
I'd suggest creating a new tab called "Meta-analytic analyses" which would include videos 11 and 12 (currently under "structuring the data").

Additionally, wouldn't it be useful to have instructions for people who want to replicate our online analyses locally and/or run new analyses? This would be something like:

- download the data
- get s

[2018-04-12 13:43] christinabergmann commented on #67
I really like this idea of providing a script or similar for people to easily work with the data, since we promote power calculations etc. My preference would be a Rmd document that we link to, and which gives detailed instructions how to do basic computations, including getting a meta-analytic effect, plotting it, looking at interactions and subsets and compute power.
I have some documents that m

[2018-04-13 00:56] shotsuji commented on #65
Yes will do within a week! Thanks for updating!

[2018-04-13 02:00] shotsuji commented on #67
I love it - Christina let's do that together. Rmd sounds good. Let's aim to do that at the same time we prepare our workshop for ICIS. I'll email you about dates!

[2018-04-18 12:37] #53 closed

[2018-04-18 12:57] #49 closed

[2018-04-18 13:48] #45 closed

[2018-04-18 13:48] alecristia commented on #45
Same problem as the statistical word segmentation.

[2018-04-18 15:31] #66 closed

[2018-04-24 21:06] amsan7 commented on #63
i put it at the bottom of the page

[2018-04-24 23:09] amsan7 commented on #59
I see this error on the server: `Dataset 'Statistical word segmentation' is missing required field: 'r'.`

Here is the excel sheet: https://docs.google.com/spreadsheets/d/1djn_-iE4uOs6yRmvBgzYAhB5guzfo3-3wnC7LJVLCe8/edit#gid=0

I also see this error: `Dataset 'Mutual exclusivity' has wrong type for numeric field 'expt_num'.
Dataset 'Mutual exclusivity' had one or more validation issues, not being

[2018-04-24 23:13] amsan7 commented on #61
I'm seeing the moderators show up now, is this fixed?

[2018-04-25 07:08] christinabergmann commented on #59
Good catch, added it:
https://docs.google.com/spreadsheets/d/1s9sMw6aUOaSqipPOVJMbR8UZkBv_f_fL9yD-kn8lLJQ/edit#gid=0

On 25 April 2018 at 01:09, Alessandro <notifications@github.com> wrote:

--
Researcher at the Max Planck Institute for Psycholinguistics, Language
Development Department, Nijmegen, The Netherlands
Website: sites.google.com/site/chbergma
Blog: cogtales.wordpress.com

[2018-04-25 07:09] christinabergmann commented on #61
Yep, looks good, thanks, what was the issue?

On 25 April 2018 at 01:13, Alessandro <notifications@github.com> wrote:

--
Researcher at the Max Planck Institute for Psycholinguistics, Language
Development Department, Nijmegen, The Netherlands
Website: sites.google.com/site/chbergma
Blog: cogtales.wordpress.com

[2018-04-25 13:03] cissard opened #68 "add unit for age of participants in the power analysis page"
When selecting age as a moderator, the bar to adjust the age of experimental participants doesn't indicate any unit (i.e. days, months, years). Can we add it?
[http://metalab.stanford.edu/app.html?id=power_analysis]()

[2018-04-25 13:08] cissard commented on #62
Here is a [first draft](https://docs.google.com/document/d/1zPSg-EAYTFQp9IDd8ysmsHH8r58X-PGYPqTUxj-p0Cs/edit), let me know what you think!

[2018-04-25 14:11] cissard opened #69 "Bug in power app"
It looks like there's a bug on power computation when moderators are selected. For instance when we move the age cursor to select only a subset of studies and push it to the maximum age, the ES is different than when no moderator is selected, although it should be the same as in this case all the ages are included.

[2018-04-25 17:00] amsan7 commented on #59
Did you also fix the mutual exclusivity dataset?

[2018-04-25 17:02] amsan7 commented on #61
I'm not sure -- might've been related to other issues where the site wasn't updating properly

[2018-04-25 17:02] #61 closed

[2018-04-25 22:38] #56 closed

[2018-04-27 13:48] cissard commented on #63
Hi Alessandro,

Would it be possible to have a similar design as the "early language" and "cognitive development" boxes? i.e. with a thin black rectangle around and a white background, and "Challenge" as the title of the box in the same height and font as "early language" and "cognitive development".

Also finally Alex and I thought that it would be better to only have one sentence on the home pag

[2018-05-03 09:49] cissard opened #70 "shiny license expired"
When the website opens a warning message appears. It says that our shiny server license expired on may 1st.

[2018-05-03 22:32] #70 closed

[2018-05-08 07:50] amsan7 commented on #63
what do you mean by the "NEWS" red box? so we want 2 boxes, one of them only saying "NEWS"?

also, that link doesn't appear to be available to the public, can you send a different one?

[2018-05-08 08:29] amsan7 opened #71 "Mutual Exclusivity dataset not being cached"
Error message: `Dataset 'Mutual exclusivity' has wrong type for numeric field 'expt_num'. Dataset 'Mutual exclusivity' had one or more validation issues, not being cached.`

[2018-05-08 08:29] #59 closed

[2018-05-09 10:28] cissard commented on #63
About the link I was thinking about a new tab in the turorials section. I created a new Rmd file in the tutorials folder of the github repo. Will it create the new tab automatically or do I have to do something else?

About the box yes that would be two boxes with the one saying NEWS on top of the other (See the schema).

![capture d ecran 2018-05-09 a 12 27 32](https://user-images.githubuserconte

[2018-05-09 14:56] cissard opened #72 "Revamp the Tutorials section"
Make the Tutorials section look like the Analyses one: Make three big rectangles with several smaller ones inside, with the same design (sizes, typo, colors...) as the Analyses section. Each small rectangle links to the respective content (currently under each respective tab).

The three big rectangles and their respective small ones would be:
1. General
       - Why Meta-analysis (MA)?
       - W

[2018-05-18 09:04] amsan7 commented on #63
how does it look now? metalab.stanford.edu

[2018-05-18 10:48] cissard commented on #63
Hi Alessandro,

I think it looks great! Thank you very much for the changes!

[2018-05-18 22:19] #63 closed

[2018-05-23 12:59] cissard opened #73 "Improve the reports page"
I think the [reports page](http://metalab.stanford.edu/reports/method_choice.html) should contain a bit more info on what's plotted on the graphs and how to read them.

Also we could add the analysis of effect size and attrition rates by method.

[2018-05-24 09:40] shotsuji commented on #73
Hi Cecile,
Great if you are taking this on! Just as a note, I do not think this is a huge priority, since these reports are more "things we tried out and don't want to go to waste".

[2018-06-01 09:46] christinabergmann opened #74 "Add computation of correlation from raw means, sd, and t-value in paired designs"
It is possible to retrieve correlations from raw means, sd, and t-values (by solving the t-value formula for r). If would be useful to add it to the computation of effect sizes instead of using imputed correlations.

The drived formula can be found in Appendix B of:
Csibra, G., Hernik, M., Mascaro, O., Tatone, D., & Lengyel, M. (2016). Statistical treatment of looking-time data. Developmental Psyc

[2018-06-01 09:48] christinabergmann commented on #73
Just to add, I wanted to turn the Child Dev paper into an Rmd, if you want to take this on, that would be great. You could even split it up into separate reports.  There are analyses in there on attrition rate and you could of course add more visualizations (see also the supplementary analyses).

[2018-06-01 14:04] #74 closed

[2018-06-04 15:22] mcfrank opened #75 "minor publications tab stuff"
- [x] squish into the same container that we use on other parts on the site
- [x] make text a little bigger for citation policy
- [x] link citation policy on the visualization app in the text (by the "documentation" and "raw data" links).

[2018-06-04 15:45] christinabergmann commented on #67
Quick progress report: We have a first draft of the Rmd ready.

[2018-06-11 09:42] christinabergmann opened #76 "visualization page does not exist"
http://metalab.stanford.edu/app.html?id=visualization I get an error here

[2018-06-13 10:18] cissard commented on #75
@amsan7 the bigger text about citation policy doesn't render.

[2018-06-13 10:35] cissard opened #77 "updates on the challenge tab don't render"
The [contribution challenge tab](https://langcog.github.io/metalab2/tutorials.html) in the tutorials section should now display the text about data sharing policy.

[2018-06-15 09:39] shotsuji opened #78 "MetaLab talk from BITSS on website?"
I just was told that our BITSS talk exists as a video on Youtube - what do you think of linking it somewhere on the website?
https://www.youtube.com/watch?v=lD7TccGEZjo&list=PLAKyhL4GNnqM0o8sdISIMP_38imdkHtVj&index=9

[2018-06-15 16:40] mcfrank commented on #78
Great!
Mike

On Fri, Jun 15, 2018 at 2:39 AM shotsuji <notifications@github.com> wrote:

[2018-06-27 11:16] #77 closed

[2018-07-07 13:00] mcfrank opened #79 "reorg contributors"
new section:

governing board - Christina, Alex, Mike, Molly, Sho
tech lead: alessandro
former members: add cecile issard

[2018-07-10 21:31] amsan7 commented on #79
@cissard can you send me a photo of you so I can put on the website?

[2018-07-10 21:41] amsan7 commented on #78
added to Documentation -> Overview

[2018-07-10 21:41] #78 closed

[2018-07-10 21:56] #79 closed

[2018-07-10 22:30] #75 closed

[2018-07-11 10:23] christinabergmann opened #80 "Update challenge blurb to announce winners"
The challenge has closed and the winners are notified, I think we can announce them now.

Text draft:
"The MetaLab challenge calling for meta-analyses on cognitive development, with support from Berkeley Initiative for Transparency in the Social Sciences (BITSS), has closed. We received data for XXXX [please fill in] meta-analyses, which will be added to MetaLab in the coming months. The winners a

[2018-07-11 10:45] christinabergmann opened #81 "Remove tags from people page?"
I feel the tags are outdated and we all worked on more than is covered. Should we just remove them? (Esp with the technical section).

[2018-07-11 11:04] shotsuji commented on #81
Yes I second that!

[2018-07-11 15:56] mcfrank commented on #80
Great, and let's remove the box from the front page (since it messes up the
layout a bit). :)

On Wed, Jul 11, 2018 at 12:23 PM Christina Bergmann <
notifications@github.com> wrote:

[2018-07-11 15:57] mcfrank commented on #81
agreed!

On Wed, Jul 11, 2018 at 1:04 PM shotsuji <notifications@github.com> wrote:

[2018-07-12 06:02] #81 closed

[2018-07-12 09:19] christinabergmann commented on #80
Ha, agreed!

I've moved the text to this google doc because BITSS would like some more detail: https://docs.google.com/document/d/1FEzR5F7t4wD3-641RObwfLWft428rKVEmPCodXhwo7s/edit

Comments are welcome!

[2018-07-12 09:44] shotsuji commented on #80
Excellent, thanks! Comments in the doc.

2018-07-12 11:19 GMT+02:00 Christina Bergmann <notifications@github.com>:

--
Postdoctoral Researcher
University of Pennsylvania, Philadephia, PA, USA
Laboratoire de Sciences Cognitives et Psycholinguistique, Paris, France
Website: https://sites.google.com/site/tsujish/home
Blog: https://cogtales.wordpress.com/

[2018-07-17 13:00] christinabergmann commented on #64
Another advantage would be that we can check for retractions this way. Peder Isager found this package: https://github.com/Ironholds/retractr

I assume because the issue remains open that Cecile didn't get around to doing this. Might be another good first task for an incoming data manager.

[2018-07-30 11:39] christinabergmann opened #82 "Convert Paris meeting action points to issues"
Go through this document:
https://docs.google.com/document/d/1pKgEv3NN3MEMylYsCnQxjGzv7WRi3H2wjU9WB6rIk4E/edit

[2018-07-30 12:23] christinabergmann commented on #80
We should send out the announcement of the winners to all mailing lists we advertised to, anyone still got the spreadsheet?
The winner announcements are here: http://metalab.stanford.edu/tutorials.html and here: https://www.bitss.org/2018/07/24/metalab-awards-three-contribution-challenge-prizes/

[2018-07-30 12:34] christinabergmann commented on #50
Also to shiny apps

[2018-07-30 12:35] christinabergmann opened #83 "CC-BY license footer"
Make re-use clear and add footer similar to http://wordbank.stanford.edu/

[2018-07-31 14:51] shotsuji opened #84 "Document how to start server locally"

[2018-07-31 14:51] shotsuji opened #85 "Create "best practices" doc"

[2018-07-31 14:52] shotsuji opened #86 "Prepare & post tutorial material"

[2018-07-31 14:53] shotsuji opened #87 "Plan & prepare webinar"

[2018-08-01 09:52] christinabergmann opened #88 "(Ongoing) Meta-analyses to be added"
If you find any suitable meta-analysis, have an idea for one, know someone who is looking for a topic, or know of someone working on one, please consult / edit this document:
**https://docs.google.com/spreadsheets/d/1mJjqDYPLHIkZMcUhhlwqL9-I3twFzHbzAkDmUfD9qj0/edit#gid=0**

[2018-08-02 09:04] christinabergmann commented on #80
cc @cissard

[2018-08-02 09:05] christinabergmann opened #89 "Add challenge contributions to metalab"
Cecile uploaded the contributions to google drive.

For some contributions, we need to address #52

[2018-08-07 09:47] christinabergmann commented on #76
And it's back, any ideas @amsan7?

[2018-08-07 18:35] amsan7 commented on #76
fixed. the repo is disappearing on the server, but not sure why. there is a commit to master on aug 3 that coincided with the server issue, but unclear why

[2018-08-07 18:39] amsan7 commented on #76
oh actually that commit did cause an error:
[code]

[2018-08-07 18:58] amsan7 commented on #76
@cissard in this commit https://github.com/langcog/metalab2/commit/21f925ebe64f9a69c3e8d6a03a8c170b0a9130e2 you forgot to put the "src" in the datasets.yml

in general, it's a good idea to check if the shiny apps are working a day after you commit something to master @christinabergmann @cissard. when something is wrong, the deploy script breaks, and the repo turns into this weird unstable state

[2018-08-07 19:00] christinabergmann commented on #76
Ah thank you.

[2018-08-08 10:14] cissard commented on #76
Hi Alessandro,

From what I understand the src field links to a picture to illustrate the MA, is that correct? If yes I don’t think we have any specific ones for these MA. For the moment I will reuse the same as other MA, and I will check that the shiny apps are working tomorrow.

Best,

Cécile
Le 7 août 2018 à 20:59, Alessandro <notifications@github.com<mailto:notifications@github.com>> a écrit :

[2018-08-08 10:34] cissard commented on #76
No but I can do that when I ask them about the moderators.

Le 8 août 2018 à 12:23, Christina Bergmann <notifications@github.com<mailto:notifications@github.com>> a écrit :

I've added two images, working on the other two. @cissard<https://github.com/cissard> did you ask the authors for an illustration? Might be easiest.

—
You are receiving this because you were mentioned.
Reply to this email dir

[2018-08-08 18:58] amsan7 commented on #76
ok, now shiny apps are up.

also, as a way to test whether you guys did everything right, you should run the following commands on your machine before committing and pushing:

[code]

It will fail pretty quickly if there's a major error. Otherwise, you have to read the output yourself. For example, there are problems with the recent MAs added, e.g.,

`Can't load dataset 'Sound symbolism' with key

[2018-08-08 19:14] shotsuji commented on #76
Great, I’ll add that to my (in progress) best practices document!!

On Wed, Aug 8, 2018 at 8:58 PM Alessandro <notifications@github.com> wrote:

--
Postdoctoral Researcher
University of Pennsylvania, Philadephia, PA, USA
Laboratoire de Sciences Cognitives et Psycholinguistique, Paris, France
Website: https://sites.google.com/site/tsujish/home
Blog: https://cogtales.wordpress.com/

[2018-08-09 11:44] christinabergmann opened #90 "Switch dataset / keeping track of automatic versus hand-coded looking times"
I am fixing a bunch of issues in the switch dataset and saw that it codes "oculomotor" as response mode for eye tracking (changing that now). Elsewhere this is usually as behavioral. This brings also back the question how / if we want to distinguish human-coded from automatically coded eye movement data.

From the main_builder.R output:
Dataset 'Switch Task' has wrong type for numeric field 'expt_

[2018-08-09 11:48] shotsuji commented on #90
I'd like making that distinction actually, and it will also interest people.
Will require some recoding --> intern or new data manager?

[2018-08-09 11:54] christinabergmann commented on #90
good question, might be a second good task for a datamanager, along with adding datasets and DOIs. :)

[2018-08-09 11:59] christinabergmann commented on #90
@cissard A bunch of the issues (t, d, d_var) come from the wrong (French?) data format, can you check whether the original submission has '.' as decimal separator?

[2018-08-09 11:59] christinabergmann commented on #90
Another issue: Bilingual infants are coded as typical, not bilingual

[2018-08-09 12:01] christinabergmann opened #91 "Add new curators to this repo?"
Should we be able to tag curators in issues? I would say so.

[2018-08-09 12:02] shotsuji commented on #91
+1

2018-08-09 14:01 GMT+02:00 Christina Bergmann <notifications@github.com>:

--
Postdoctoral Researcher
University of Pennsylvania, Philadephia, PA, USA
Laboratoire de Sciences Cognitives et Psycholinguistique, Paris, France
Website: https://sites.google.com/site/tsujish/home
Blog: https://cogtales.wordpress.com/

[2018-08-13 10:01] christinabergmann opened #92 "Moderators don't show up / Subsetting issues"
1. I don't see moderators that are specified in the yaml on the visualization page.
2. Subsets are generated using binary columns, but there seems to be an issue for the rule learning dataset.

Maybe someone has an idea why these issues occur.

[2018-08-14 12:46] cissard commented on #90
Thanks Christina!
Le 14 août 2018 à 14:19, Christina Bergmann <notifications@github.com<mailto:notifications@github.com>> a écrit :

OK, most issues should be solved now. FYI, google sheets also has local settings (under spreadsheet settings) and adjusting those did the trick. This might be useful if the same problem occurs with other datasets.

—
You are receiving this because you were mentioned.

[2018-08-14 15:53] christinabergmann opened #93 "Distinguish hand-coded from automatic eye tracking"
This came up in #90
2 votes for.

Proposal: Add `looking` to *`response_mode`* in addition to `eye-tracking`

[2018-08-14 15:53] #90 closed

[2018-09-02 12:41] christinabergmann commented on #89
Update: Winners are in, other contributions in progress

[2018-09-07 18:12] mcfrank commented on #76
ugh - there's not even another commit to the repo. we need to work on
stability for the site. sorry about this. @Alessandro Sanchez
<sanchez7@stanford.edu> and @Benjamin Edward deMayo <bdemayo@stanford.edu> are
going to meet next week and talk about some maintenance stuff.

Mike

On Fri, Sep 7, 2018 at 10:23 AM Christina Bergmann <notifications@github.com>
wrote:

[2018-09-08 23:11] amsan7 commented on #76
it was some weird git index error. a lot of issues are caused by the automatic deploy that happens every day -- will try and think through a better way to do this

[2018-09-09 13:35] christinabergmann commented on #76
Oh annoying, thanks so much for checking and fixing it!!!

[2018-09-16 09:48] christinabergmann opened #94 "No gh-pages update"
Switch task (a challenge dataset) should be compatible now, but because the site hasn't been updated in 9 days, it doesn't appear. @amsan7, any ideas?

[2018-09-26 05:34] amsan7 commented on #94
ok, should be updated now. i also made it so that when the rendering fails, the shiny apps won't go down... hopefully those are always up now

[2018-09-26 05:34] #94 closed

[2018-09-26 05:58] christinabergmann commented on #94
Amazing, thank you!!!

[2018-09-27 10:38] christinabergmann opened #95 "Revisiting method column for Cognitive Development etc"
"method" now contains a mix of information and I am not 100% sure about the rationale and wonder whether we can make it more consistent.

options: |  
-- | --
- CHT: |  
  | fullname:     conditioned head-turn
- CF: |  
  | fullname:     central fixation
- looking_while_listening: |  
  | fullname:     looking while listening
  | description:  two objects on screen side by side
- FC: |  
  | fulln

[2018-10-26 20:46] shotsuji commented on #84
Done! @juliacarbajal , you can find the instructions at the end of the README.md file directly sitting in the main metalab2 folder. Please feel free to edit them if they seem too cryptic (the rest of the md file is for general set-up and wasn't written by me).

[2018-10-26 20:46] #84 closed

[2018-11-01 22:45] #76 closed

[2018-11-01 22:47] #71 closed

[2018-11-01 22:48] #27 closed

[2018-11-01 22:53] #82 closed

[2018-11-02 10:54] juliacarbajal commented on #84
Neat, thanks!

[2018-11-02 14:43] juliacarbajal opened #96 "Prosocial MA not appearing in the website"
I noticed there's a recent dataset called Prosocial Agents, for which we have the tabular data and it was also added to the datasets.yaml file, but it is not appearing in the website. I think it's because the link to the table in google drive is missing from the yaml. Was this done on purpose (e.g. the dataset is not ready or the authors asked to wait?) or should I just add the link to the yaml?

[2018-11-02 14:50] juliacarbajal commented on #96
I'm sorry I was wrong, they key to the dataset is there. So it should be appearing on the website but it isn't, so it's definitely a bug. I'll look into it.

[2018-11-02 15:11] juliacarbajal commented on #92
This should solve the problem, we'll see tomorrow when the website reloads if it did the trick!

[2018-11-02 15:28] juliacarbajal opened #97 "Sorting option in Forest Plot covering the first few studies"
At least from two computers with very different screens, I see that the sorting option of the Forest Plot is placed at the top left corner of the plot itself, blocking the view of the names of the first 3 studies. Picture below! I'll see if I can fix it but if anyone knows what might be wrong please let me know.

![forest_plot_issue](https://user-images.githubusercontent.com/14805753/47924366-de9e

[2018-11-02 15:59] juliacarbajal commented on #96
I think I know what's up: the authors of this MA only coded x_1 and x_2 for a within_one participant design. There are no SD, t, F, d or any other measure available to compute the ES. I suspect the processing pipeline discards rows with no effect sizes, is this correct? So if the whole MA has no rows, it doesn't show up in the website. I can contact the authors and ask them to provide the missing

[2018-11-02 19:50] mllewis commented on #64
I think we should definitely do this. I did some analyses awhile ago on citations networks from metalab and hunted down dois for a lot of the papers - they're in a csv here: https://github.com/langcog/metalab/blob/master/reports/networks/dois2.csv

They're relatively easy to get from the citation here: https://apps.crossref.org/SimpleTextQuery/

[2018-11-02 19:52] mllewis commented on #96
I think this is very reasonable.

On Fri, Nov 2, 2018 at 2:31 PM Michael Frank <notifications@github.com>
wrote:

[2018-11-02 20:42] juliacarbajal commented on #96
Please correct me if I'm wrong, I'm not so familiar with this kind of analysis, but isn't it necessary to have two treatment conditions to calculate an odds ratio? The kind of experiments and analysis that are reported in this MA go more or less like this: a single group of infants is presented with two choices, A or B. Some number of infants choose A. This is the number reported in the papers, pl

[2018-11-02 21:34] mllewis commented on #96
In the past what we've done in these cases is assume there's another group
of infants with a mean of chance (.5 in this case) and a standard deviation
that's identical to the treatment group.

Molly

On Fri, Nov 2, 2018 at 3:59 PM Julia <notifications@github.com> wrote:

[2018-11-02 22:11] shotsuji commented on #96
Yes, nice catch Julia.
Christina only recently added this MA, and she wrote an email (not github
issue) to the metalab group about it, but that was before your time. She
and I actually consulted a statistician about it and we came up with
exactly the same solution, namely adding chance level as the second group
and then later converting to d.
So seeing that you all seem to agree on this solution I

[2018-11-03 14:08] christinabergmann commented on #96
No worries, Julia, it was before your time and hidden in a very long email full of updates. Thanks for tackling this.
I have it on my long term to do list to check whether proportion-based and odds ratio meta-analyses of this and similar datasets arrive at the same conclusion but for now this is a good solution.
Let me know when it appears, then I can notify the extremely helpful authors...

[2018-11-03 15:05] shotsuji commented on #52
Hi Alessandro, would this be possible to solve before you leave?
Happy to discuss!
@christinabergmann

[2018-11-07 09:27] juliacarbajal opened #98 "Developmental curves report not working (404 error)"
This page is not working: http://metalab.stanford.edu/reports/developmental_curves.html

[2018-11-07 09:36] juliacarbajal opened #99 "Metalab website not updated in several days (or more)"
Last Friday I made some changes to the repo and it's been 5 days but I still don't see the changes appearing in the website. With Alex we checked the reports pages (e.g. the Hierarchical random effects report), which at the top of the page contain a "Last updated on `r Sys.Date()`." line. If I understand correctly, the `r Sys.Date()` date is normally regenerated every time the website updates, but

[2018-11-07 09:47] juliacarbajal opened #100 "Starting a server locally for development purposes: data not loading from the drive?"
I need to start a local server so I can run the website on my computer and try a few things. I cloned the repo and have all the R packages installed, but when I changed the project_directory in global.R to "../../" as suggested in the readme, I managed to launch for ex. the visualization app but the data is not there. I get a `Warning: Error in eval: object 'all_data' not found`. I'm running it on

[2018-11-07 10:29] juliacarbajal commented on #100
Well I just realised it was necessary to run mean_builder.R before running the app to get the variables. I will add this to the readme.

[2018-11-07 10:29] #100 closed

[2018-11-07 22:05] juliacarbajal commented on #96
Hi all, as discussed here and also by email with Christina and Sho, I implemented the calculation of d_calc and d_var_calc based on log-odds-ratio for the Prosocial MA. If all goes as expected, this MA should show up next time the website updates. I will close this issue after I see the changes online.

Note that for the moment I wrote this as a special case to apply only to this specific MA, wher

[2018-11-08 15:05] christinabergmann commented on #99
cc @amsan7

[2018-11-08 15:06] #80 closed

[2018-11-08 16:51] mcfrank commented on #99
Hi all,

We don't have an "auto-pull" feature on the site right now. We've found
that this leads to massive instability because people push datasets and
break the site. So now it takes someone to log in to AWS and refresh.

Mike

On Thu, Nov 8, 2018 at 7:06 AM Christina Bergmann <notifications@github.com>
wrote:

[2018-11-09 07:18] christinabergmann commented on #99
OK, who apart from Alessandro could do that? And would it make sense to "initiate" more people?

[2018-11-09 08:35] amsan7 commented on #99
just refreshed the site

[2018-11-09 08:40] #96 closed

[2018-11-09 09:45] #83 closed

[2018-11-09 10:47] christinabergmann commented on #92
Subsetting still doesn't work for prosocial and for nonspeech in rule learning, so I am reopening.
In all cases the spreadsheet use TRUE / FALSE so I don't see what could be happening.

[2018-11-09 10:58] juliacarbajal commented on #92
Fixed. I forgot to mention what the problem was before: adding the variables in datasets.yaml is not enough for them to be used as moderators or subsetting, they need to also be added to spec.yaml or otherwise it won't be able to find them (you can check that any variables missing from spec.yaml will also not appear in the data tables in the website). So these two steps are necessary.

I had corre

[2018-11-09 11:00] christinabergmann commented on #92
Ah fantastic, but it shows that we need some heavy documentation for how to add datasets, even for us nerds, because it's such a rare event that I forget. 😞

[2018-11-09 11:16] christinabergmann opened #101 "Add column for fixed vs infant-controlled trial length?"
I think it's an interesting distinction that however might vary more across than within fields...

[2018-11-09 14:33] juliacarbajal commented on #101
Good point, I think it's not a bad idea to add it. Quite related to this and to a previous issue on eye-tracking, I've been thinking that it would be important to make a distinction between online- and offline-coding.

[2018-11-09 14:36] juliacarbajal commented on #99
I would find it useful to be able to do this myself as I'm currently working on fixing bugs and other issues, but I understand if you prefer to have only permanent members of metalab doing this. In that case I would like to know who I should address when the website needs refreshing (for example, I just made another change to fix a bug a couple hours ago so it needs refreshing again).

[2018-11-10 12:09] juliacarbajal commented on #98
Ok I found the bug: row 27 from the Statistical Segmentation MA for some reason has a correlation r > 1 which causes d_var_calc to be negative, which is wrong. I checked and luckily this is the only row in the whole of Metalab to have this problem. It can be fixed by either discarding rows with negative variance, or restricting r to live in [-1;1]. I will try to investigate why it happened that r

[2018-11-10 13:12] juliacarbajal commented on #98
This seems to be the problem: correlations are imputed in `cache_datasets.R` before running `compute_es.R`:
https://github.com/langcog/metalab2/blob/674af269a0ab17c5d29317be8064c6b4c909a9d4/scripts/cache_datasets.R#L106

Now the thing is that only empty values will be imputed, while rows that do have a value (even if the value is incorrect) are left as they appear in the spreadsheet. In the case o

[2018-11-10 15:38] juliacarbajal commented on #98
I implemented the change but I have a doubt: I noticed that there were other MAs that had corr values outside the defined range of (0.01:0.99), particularly negative values. For instance there's one row with a negative corr in the AGL_soundsDL MA, and another one in the Abstract Rule Learning MA. With the change I recently made, these rows now get an imputed correlation instead of using the one in

[2018-11-10 15:48] shotsuji commented on #98
Thanks for implementing the changes! I have two points to make:
First, I just looked at the negative correlations in these two MAs. I am pretty sure that we could just recode them as positive -  in both cases curators seem to have gotten the values from authors, and though corr might have been negative that doesn't matter to our specific computation. (in fact we might want to add this detail to co

[2018-11-10 16:07] juliacarbajal commented on #98
So about the negative correlations: first I thought this variable could take any value from -1 to 1, which is why I mentioned this range in an earlier comment. I finally implemented the positive range only because that is what I found in the compute_es.R script. I was actually wondering about that, since having negative values, as long as they're not below -1, does not produce any errors nor resul

[2018-11-10 16:31] shotsuji commented on #98
Hi Julia,
The correlation should be between 0 and 1, since we want to express how strongly the pre-and post-scores are related (no matter the directionality). (@christinabergmann just to be sure I'm not totally getting something wrong here can you confirm corr should be between [0;1])
The correlated samples section of [this paper](https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3840331/) is really go

[2018-11-10 16:51] juliacarbajal commented on #98
Oh I see! Ok in that case yes, values in the corr column should be converted to abs() before running the imputation. Should I go ahead and do that or do I wait for Christina to confirm?

[2018-11-10 17:47] juliacarbajal commented on #98
Done!

[2018-11-10 19:48] christinabergmann commented on #98
Sorry for the late reply, yes, abs is correct, well spotted and fixed!

Am Sa., 10. Nov. 2018, 18:47 hat Julia <notifications@github.com>
geschrieben:

[2018-11-12 09:49] #98 closed

[2018-11-13 22:54] mllewis commented on #64
Just to follow up on this...I've written some code that uses the RefManageR package in R as an api to get the dois and bibtex references automatically.  The look-up is noisy so it still requires someone to go through them one by one and check if they're right, but it definitely speeds up the process. If someone is going to do work on this, let me know, and I'll point you to my code.

[2018-11-14 14:08] juliacarbajal commented on #68
Done.

[2018-11-14 14:08] #68 closed

[2018-11-14 15:01] juliacarbajal opened #102 "Datasets version for reports"
I noticed that the reports are run always on the current version of the available datasets in Metalab, while the conclusions were written based on a previous version. This might be problematic as with new data, the conclusions may change. For instance, I have the impression that the discussion in the developmental curve report doesn't quite match the results of the models anymore (in the first mod

[2018-11-14 16:51] juliacarbajal commented on #55
I'm working on this but I have a small question regarding the implementation: In order to use subsetting, the variable must be coded as TRUE or FALSE, but at the moment the peer_reviewed column is coded as yes or no. We can either change this manually in the existing datasets (and modify the template for future datasets), or the variable transformation can be done in the code. I think I would pref

[2018-11-14 16:52] christinabergmann commented on #55
Sounds fine to me, afaik no metalab scripts use this currently.

On Wed, 14 Nov 2018 at 17:52, Julia <notifications@github.com> wrote:

--
Researcher at the Max Planck Institute for Psycholinguistics, Language
Development Department, Nijmegen, The Netherlands
Website: sites.google.com/site/chbergma
Blog: cogtales.wordpress.com

[2018-11-14 17:19] mcfrank commented on #102
Julia, I agree about this - maybe we need to tone down the text so that it
is more general?

In practice it can be very hard to ensure that someone checks all aspects
of the site, even once every six months. Much better to make the reports
more descriptive!

On Wed, Nov 14, 2018 at 7:01 AM Julia <notifications@github.com> wrote:

[2018-11-14 17:39] shotsuji commented on #55
Either option sounds fine to me!

Am Mi., 14. Nov. 2018 um 17:52 Uhr schrieb Christina Bergmann <
notifications@github.com>:

--
Postdoctoral Researcher
Laboratoire de Sciences Cognitives et Psycholinguistique, Paris, France
Website: https://sites.google.com/site/tsujish/home
Blog: https://cogtales.wordpress.com/

[2018-11-15 07:59] christinabergmann opened #103 "Fix short_cite in rule learning (and add validation to template)"
The citations displayed in the forest plot are too long and contain pub info which doesn't follow our scheme.

Btw: I did calculate n characters once for optimal display, but can't find that right now, I think it was about 35 - Maybe we can add a length check to the template?

[2018-11-15 08:43] christinabergmann commented on #102
Excellent observation, Julia! And I agree about making it more descriptive. We might need to reframe reports as demonstrations what you can do with the data (and maybe add some practical examples, too).

Since some reports were written before there were domains we also might need to add subsetting to the correct domain for some reports.

[2018-11-16 17:09] amsan7 commented on #50
@mcfrank do you mind giving me permission to add a property in GA? i'll need to create a property for each shiny app according to this (step 2): https://shiny.rstudio.com/articles/google-analytics.html. or you can create the properties, either way

[2018-11-16 17:35] #19 closed

[2018-11-16 20:14] mcfrank commented on #50
done!

Mike

On Fri, Nov 16, 2018 at 9:09 AM Alessandro <notifications@github.com> wrote:

[2018-11-22 11:47] christinabergmann opened #104 "Data contributors / external curators on about page?"
We haven't figured out how to acknowledge data contributors and external curators (an option we offered in the challenge), so how about two new sections on the about page?

Also, we need to add Julia to alumni (and she's a data contributor)

[2018-11-23 17:24] christinabergmann opened #105 "negative d_var_calc?"
Some calculated variances seem negative, wanted to flag this for further investigation.

[2018-11-27 15:38] christinabergmann opened #106 "Correct dataset for AGL sounds?"
Right now the spreadsheet linked is this one, which has "old" in its name:
https://docs.google.com/spreadsheets/d/1sbeoPlEKxyjzlmWgzeSCVrumoS0wlMpX_Puv074r9lM/edit#gid=1664900378

Should it be replaced by this one?
https://docs.google.com/spreadsheets/d/1yCKAsu-vvQGemPga22F1cdtn90gs7Vp8UCto7HH10cE/edit#gid=818895612

cc @alecristia

[2018-12-14 14:46] alecristia opened #107 "add a tag indicating which MAs are based on systematic reviews or not"
suggestion from Caro Rowland

An alternative is to add "limitations" (so as to mention eg no reliability on MAic coding)

[2018-12-14 14:46] alecristia opened #108 "show the short description of the MA in the visualization page"

[2018-12-14 14:53] alecristia opened #109 "add a button to download raw dataset (ie not standardized, directly from google sheets)"
easy alternative, show the google sheet link

[2019-01-05 12:17] alecristia commented on #106
It took me a while figure out how to fix this, so I'm writing down a complete response in case this is useful to someone in the future.

Here's the solution:

- [metadata/datasets.yaml](https://github.com/langcog/metalab2/blob/master/metadata/datasets.yaml) has a "key" field, which for this dataset was 1sbeoPlEKxyjzlmWgzeSCVrumoS0wlMpX_Puv074r9lM which is wrong, so we'll look up information to rep

[2019-01-05 12:17] #106 closed

[2019-01-05 12:37] alecristia opened #110 "upload DL MA with ALL data (prior to exclusions, but after pairing)"

[2019-01-10 10:50] christinabergmann opened #111 "Footer link to FAQ broken"
The footer on the website leads to a non-existent FAQ page: http://metalab.stanford.edu/faq#what-is-the-license-for-derivative-works-from-wordbank-e.g.-graphs-generated-by-the-site

Can we copy the content from wordbank and create the corresponding site?

[2019-01-15 10:54] alecristia commented on #91
This sounds like a good idea to me, and it hasn't been opposed in over 6 months. So @cissard is emailing curators to offer them the possibility to be added.

[2019-01-15 10:54] #91 closed

[2019-01-15 11:38] #104 closed

[2019-01-15 12:57] cissard commented on #62
Hi Christina,

Can you go through the document and tell me if it's okay for you? I would like to finish this up if possible.

[2019-01-15 14:21] cissard commented on #103
short_cite column edited.

[2019-01-15 14:37] christinabergmann commented on #62
As I commented, I think video vignettes are a good idea, otherwise I responded to all open comments just now.

[2019-01-15 14:52] cissard commented on #62
Ok, so should we wait for the video vignettes to be ready?

[2019-01-15 15:05] cissard commented on #105
Can you specify the datasets that have this issue?

[2019-01-18 13:02] christinabergmann commented on #105
I think I found it, it's in StatSeg in a Hay & Saffran entry, one of them has an impossible correlation over 1, so I am removing the correlation value. This fixes the issue.

Follow-up: We need to implement checks for correlations provided (eg by authors).

[2019-01-22 10:59] cissard commented on #99
Hi,

Can someone refresh the site now? I made some changes on the about page.

Cécile

[2019-01-22 12:15] christinabergmann commented on #99
I think apart from @mcfrank nobody has been "initiated"... Might be good to create internal documentation for 1-2 permanent members so we can distribute this task?

[2019-01-22 13:44] amsan7 commented on #99
hi all, i updated the website, and for future reference @benjamindemayo also know how to update it!

[2019-01-22 13:48] cissard commented on #62
I just added a new tab for this in the (https://langcog.github.io/metalab2/documentation.html)[documentation section].

[2019-01-22 13:50] cissard commented on #89
Done

[2019-01-22 13:50] #89 closed

[2019-01-22 13:52] cissard commented on #99
Thanks Alessandro!

[2019-01-22 13:56] cissard commented on #65
HI Sho,

Can I close this issue or do you want me to look at it?

Cécile

[2019-01-22 14:04] christinabergmann commented on #62
Page not found: http://metalab.stanford.edu/documentation.html

[2019-01-22 14:16] cissard commented on #62
I changed the extension from .md to .Rmd, it should work when the site is updated.

[2019-01-22 17:34] cissard commented on #99
The [documentation page](http://metalab.stanford.edu/documentation.html) raises a 404 error. I think that's because I incorrectly used a .md extension. I changed it to .Rmd. @benjamindemayo can you please update the website again?

[2019-01-29 11:14] cissard opened #112 "simple arithmetic MA doesn't appear on the website"
Hi,

I'm scanning through the [data spreadsheet](https://docs.google.com/spreadsheets/d/18JSxBB5GK87JqJ89aH055M5MaITY1qRqvZAJXBm3t-M/edit#gid=0) and I see that some line don't have any t or SD, so I guess it relates to [this older issue](https://github.com/langcog/metalab2/issues/96).
However they all have d, and I see in compute_es.R that d_calc takes d if its present.

Does anyone have any other

[2019-01-29 13:03] cissard opened #113 "Implement better handling of repeated measures"

[2019-01-29 13:38] cissard opened #114 "Allow access to specific versions of datasets"
Following [Issue #102 ](https://github.com/langcog/metalab2/issues/102), it might be great to be able to call specific versions of each dataset. Maybe through a drop-down menu?

[2019-01-29 15:19] cissard commented on #65
Hi,

I corrected the mismatchs that were due to field-initial or field-final spaces. However I left the long comments unchanged to let you decide what makes sense from an expert of the field point of view. Also about the corrupted text it's in both old and new versions.

About the numeric divergences the one that I found came from the fact that R took the rounded number displayed by google sheet,

[2019-01-30 10:40] cissard opened #115 "Write a troubleshooting manual about the website"
Since the person that takes care of updating the website may change, it might be helpful to write a good manual of the website maintenance.
Maybe a bit like the readme currently on the metalab2 repo, but something that is slightly better organized, which explains when each of those items applies or not, and what to do in specific frequent situations encountered with the website:
- the website isn'

[2019-02-01 18:23] cissard opened #116 "format Evan Kidd's MA"
E. Kidd provided the data of his MA for the challenge, but the format is different than the one used in MetaLab.

[2019-02-12 10:47] christinabergmann opened #117 "Add in documentation link to PRISMA / MARS / supplementary materials"
For full transparency, it would be great if we could link to additional documentation like search protocols, and PRISMA documentation. I'd think we do this on here:
http://metalab.stanford.edu/documentation.html#datasets
and add 2 field (or more?) to the metadata.

[2019-03-05 13:32] #62 closed

[2019-03-05 13:36] cissard opened #118 "field specification tab in the documentation doesn't show content"
Only section titles appear [http://metalab.stanford.edu/documentation.html#field_specs](http://metalab.stanford.edu/documentation.html#field_specs)

[2019-03-06 18:50] #116 closed

[2019-03-12 16:53] cissard opened #119 "approximation of mean age in Quinn & Kidd (2018)"
Quinn & Kidd coded the age range of each group instead of the mean ages. To approximate the mean age, Sho and I have decided to take the middle of each age range. Let me know if you disagree with this solution before next week, or I will close the issue.

[2019-03-12 17:10] shotsuji commented on #119
We also thought about adding a "comments" bullet point to the dataset description section so people see these kinds of particularities immediately

[2019-03-18 16:44] christinabergmann commented on #119
I like the comment option, sounds good
Could also contain eg "Is not systematic" or "Additional information on this website" ?

[2019-03-18 16:45] christinabergmann opened #120 "Evaluate which packages from an overview to add to the tutorial pages"
http://meta-evidence.co.uk/systematic-review-meta-analysis-and-r/

This seems useful and we might want to evaluate which of the mentioned packages are useful for a reader (eg litsearchr).

[2019-03-21 15:40] christinabergmann opened #121 "Power analysis tool needs design selector"
Currently it's unclear what design the power tool assumes!

[2019-03-21 17:07] alecristia commented on #114
(or perhaps it is time to start thinking about APIs -- whereby people can call on versioned datasets and versioned code)

[2019-03-21 17:12] alecristia opened #122 "facilitating users interaction with our formulas"
what would y'all think of an interface, where I drag and drop my csv OR provide a link to a spreadsheet on google, and the system runs the effect size estimation (so new csv with effect sizes + SE's is generated)+ the basic visualizations code (generating a pdf with a report)? This might encourage people to use the metalab format!

[2019-03-21 17:14] shotsuji commented on #122
That sounds amazing Alex!!

Am Do., 21. März 2019 um 18:12 Uhr schrieb Alex Cristia <
notifications@github.com>:

--
Postdoctoral Researcher
Laboratoire de Sciences Cognitives et Psycholinguistique, Paris, France
Website: https://sites.google.com/site/tsujish/home
Blog: https://cogtales.wordpress.com/

[2019-03-22 21:34] kylehamilton commented on #50
Is this issue taken care of?

[2019-03-25 23:25] kylehamilton commented on #122
There is a feature that might be coming out in metafor over the next couple of months that will streamline this process for us.

[2019-03-27 08:56] kylehamilton commented on #115
I'll start going through the code base tomorrow and start documenting what everything does. I'm going to focus on the visualization app for right now before moving on to the others. From there I'll have a better feel for everything and can start putting together some common fixes for problems. If you have anything you would like me to focus on or if there's an area that I should pay extra attentio

[2019-03-29 14:38] christinabergmann commented on #50
I think @mcfrank knows

[2019-03-29 14:39] christinabergmann commented on #113
Cecile, would you mind going into details? Do you mean dependent rows or within-participant designs?

[2019-03-29 14:40] #97 closed

[2019-04-05 11:19] alecristia commented on #122
terrific! We just had a chat with Cécile, and she'll be in touch with our ideas -- to see which are doable and which are not :)

[2019-04-05 12:20] cissard commented on #113
Hi Christina,

That was just to remember the tasks for which we needed a statistician. This relates to the question about within-participants designs we asked the candidates for the interviews.

[2019-04-05 12:21] #113 closed

[2019-04-05 12:32] cissard commented on #119
Yes I added "age is not systematic but the middle of the age range provided in the supplementary materials" in the comment section for Quinn et al. MA.
 I guess it relates to issue #117 about adding a link to PRISMA flowchart, that could go in the comments too.

[2019-04-05 12:32] #119 closed

[2019-04-12 09:27] shotsuji opened #124 "Where are the data (/data folder gone)?"
Hello,
@cissard and I just tried to start the shiny apps locally, and we noticed that the datasets (cvs) couldn't be loaded from the data/ folder where they usually live. The data folder is actually completely gone from the github repo. Does anyone know what happened? Where did it go???

[2019-04-12 10:20] shotsuji commented on #124
PS I just  re-rendered the csv's and re-added them to the github repo. Still I'm wondering where they were gone, since the whole folder was non-existent on github (not just empty!)

[2019-04-15 13:44] christinabergmann commented on #114
Isn't this the same as #102?

[2019-04-15 13:44] christinabergmann commented on #86
Look into using this package: https://rstudio.github.io/learnr/

[2019-04-19 22:07] kylehamilton commented on #124
The data folder is made when you set up MetaLab. During set up the builder makes the data folder and then goes to Google Sheets, downloads the data, and computes the effect sizes.
https://github.com/langcog/metalab2/blob/dd18135037af8bf8c1aeaf0f5d4a9268fa5044a6/scripts/cache_datasets.R#L59-L83

[2019-04-19 22:12] kylehamilton opened #126 "Set formatting of CSV files in /data"
When building MetaLab the software updates data from Google Sheets which throws up minor formatting differences. This is related to #124, I'll take a look at this and see if I can fix it. It's not a major problem right now.

![image](https://user-images.githubusercontent.com/2274317/56446059-4eabdf00-62b5-11e9-80a0-f6ade34a1143.png)

[2019-04-19 22:17] kylehamilton commented on #108
Has anyone written up descriptions for the datasets? If not I'll go ahead and get started with this, the coding part shouldn't take very long but I assume that others will have better insight and knowledge into what should be written.

[2019-04-19 22:18] kylehamilton commented on #108
Has anyone written up descriptions for the datasets? If not I'll go ahead and get started with this, the coding part shouldn't take very long but I assume that others will have better insight and knowledge into what should be written. @cissard @shotsuji

[2019-04-20 00:44] shotsuji commented on #124
Hi Kyle,

Thanks for the reply (that could go in the general instructions!) — my
question was, however, more about figuring out what happened for the data
folder to have disappeared temporarily, which it did (I put it back
manually). Any idea?

On Sat, Apr 20, 2019 at 07:07 W. Kyle Hamilton <notifications@github.com>
wrote:

--
Assistant Professor
The University of Tokyo International Research Cen

[2019-04-20 00:45] shotsuji commented on #108
Yes! 3rd bullet point in each dataset under Documentation:
http://metalab.stanford.edu/documentation.html#datasets

On Sat, Apr 20, 2019 at 07:18 W. Kyle Hamilton <notifications@github.com>
wrote:

--
Assistant Professor
The University of Tokyo International Research Center for Neurointelligence
(IRCN)
Website: https://sites.google.com/site/tsujish/home
Blog: https://cogtales.wordpress.com/

[2019-04-20 02:55] kylehamilton commented on #108
Thanks! I'll take a crack at this!

[2019-04-20 03:10] #124 closed

[2019-04-20 03:11] shotsuji commented on #124
My bad! Had forgotten that data folder needs to be generated locally & doesn't live on the repo

[2019-04-21 02:40] kylehamilton commented on #108
See most recent two pull requests, #127 shows an update to the UI file for showing the short_desc data in the datasets file. #128 is the server code to make this happen. I wasn't sure if the team wanted to include citation information so I wrote it up, tested it, and commented the code out. If we want to add it then it's really quick and easy to drop it back in.

[2019-04-21 03:33] kylehamilton commented on #112
I think I found the problem when running main_builder.R there is an error that pops up for the simple arithmetic data.
[code]
I went to the Google spreadsheet and found a typo in the response_mode variable on the first row of data the Wynn (1992) study. https://docs.google.com/spreadsheets/d/18JSxBB5GK87JqJ89aH055M5MaITY1qRqvZAJXBm3t-M/edit#gid=0&range=J2

MetaLab expects to see eye-tracking not e

[2019-04-21 03:52] kylehamilton commented on #57
The power analysis app is in need of some updating. In its current stats it doesn't allow for any adjustments to alpha or beta. After I make some progress on the visualisation app I'll start working on this.

[2019-04-21 03:52] kylehamilton commented on #57
The power analysis app is in need of some updating. In its current state, it doesn't allow for any adjustments to alpha or beta. After I make some progress on the visualization app I'll start working on this.

[2019-04-21 10:18] shotsuji commented on #112
Thanks for troubleshooting - I corrected the typo, and I will also give you access to the Metalab google drive folder. It contains various things; the datasets are in the "Tabular data from meta-analyses" folder.

[2019-04-21 19:26] kylehamilton commented on #112
Ok I think that did it. When running main_builder I now get this message and the visualization app now displays the data.
[code]
![image](https://user-images.githubusercontent.com/2274317/56474579-97d46e00-6430-11e9-83db-64f8fda600e6.png)

[2019-04-25 16:55] alecristia opened #129 "educational materials: announcement & help needed on mixed models' effect sizes"
Hi MetaLabbers,

For a course, I put together this [list of resources](https://docs.google.com/document/d/19wg1XnjemMH_IMM_Ok2g4CeSaRjFK8YhYKc3HUJ9orY/edit?usp=sharing); the rationale is to guide a *first discovery of the topics*, with maximum 3 recommendations for each step of a MA.

One of the students' questions was: how does one get effect sizes from mixed models? I know there is a small liter

[2019-04-25 22:48] shotsuji commented on #129
One easy-to-understand and easy-to-implement-in R resource, (though for
rather straightforward designs) is this one.
https://www.journalofcognition.org/articles/10.5334/joc.10/

Am Fr., 26. Apr. 2019 um 01:55 Uhr schrieb Alex Cristia <
notifications@github.com>:

--
Assistant Professor
The University of Tokyo International Research Center for Neurointelligence
(IRCN)
Website: https://sites.google.

[2019-04-26 15:13] alecristia commented on #129
thank you, Sho!

[2019-04-26 15:13] #129 closed

[2019-04-26 23:22] alecristia commented on #92
Just reopening this to remind myself that Angeline pointed out that her moderators are not showing up. I see from Julia's response that I should check spec.yaml

[2019-04-27 04:21] alecristia commented on #92
I added the three, but:

- in the metalab version of the dataset, the three relevant columns are missing (I also notice it says "under review"): http://metalab.stanford.edu/dataset/switchTask.html#Data
- in the linked dataset, they are not: https://docs.google.com/spreadsheets/d/1qkGFqZLwuuO5ELKiFg4E5EGX5O6xTfJC_hxyZXJr2zI/edit

But let's wait and see if this fixes the issue.

[2019-04-29 06:56] christinabergmann commented on #92
The MetaLab data have been processed through spec.yaml so columns get dropped for all datasets. Your fix should work, once the site is re-rendered. Thanks for working this out!

[2019-04-29 06:57] #114 closed

[2019-05-06 13:41] christinabergmann opened #131 "Add "peer_reviewed" as default subset option?"
This could be contingent on whether there are n>0 non-peer-reviewed studies in a meta-analysis, but it might be interesting to have.

[2019-05-06 13:47] christinabergmann opened #132 "Make native_lang default moderator in Early Language?"
I thought we used to have default moderators, might be wrong.
It would be great to always have native_lang (which I recently tried to standardize, @cissard, did you check for any new datasets, too?)

[2019-05-07 11:44] christinabergmann opened #133 "ChildDevPaper does not show up"
No idea what's wrong, the filenames match but it says 404 not found
http://metalab.stanford.edu/reports/ChildDevPaper.html

(I assume something goes wrong during generating the html, if someone could take a look, that'd be great.)

[2019-05-10 08:41] cissard commented on #132
No I haven't checked for the new datasets, I'll do it today.

[2019-05-10 11:04] cissard commented on #132
Done, I corrected a few errors, e.g. "and" instead of ",".

[2019-05-10 11:18] christinabergmann commented on #132
Thanks, very useful!

[2019-05-15 14:58] christinabergmann opened #134 "Change funnel plot to be contour-enhanced"
I think it would be better to show funnel plots such that the shaded area indicates non/significance (we could have a dotted line for the current funnel around the estimates mean effect) - i.e. that the center is around 0.

Details here:
http://www.metafor-project.org/doku.php/plots:contour_enhanced_funnel_plot?s[]=contour&s[]=enhanced

[2019-05-21 13:11] christinabergmann opened #135 "metafor update: random effect structure does not work any more"
Right now we have the following random effect structure in our scripts:
[code]
in [server.R](https://github.com/langcog/metalab2/blob/master/shinyapps/visualization/server.R)

This leads to the following error:
[code]

[2019-05-23 07:31] christinabergmann opened #136 "Add language level/direction of prediction to meta-data early language?"
I am thinking of eg level = [sound, word, syntax, ...] and prediction = [positive, negative, none]

This would be useful for dynamic visualizations on the meta-meta level and for projects comparing across levels..

[2019-05-24 12:14] cissard opened #139 "Move the contribute tab in doc to the home page"
Maybe a way to have more people contribute could be to have a small box on the home page linking to the the 'how to contribute' page?

[2019-05-24 14:59] cissard commented on #122
Great! So I guess we might include this in a more global update, along with the [random factors issue](https://github.com/langcog/metalab2/issues/135)?

[2019-05-24 15:09] cissard opened #140 "Handle eta2"
I've been facing an issue on my MA with F that have their first degree of freedom superior to 1 (e.g. main effects with more than 2 conditions). I have several papers that I couldn’t not include because of this. That’s really a shame since these papers often report the right amount of details. Up to now I have coded them in two separate columns, one for F with df1>1, and the other for its associat

[2019-05-28 21:44] mcfrank opened #141 "testing before deployment"
We need to figure out a way to make sure that the site stays live as we update data - this means something like a sandbox or dev server plus a defined deployment workflow. It may also mean moving to fork & pull for changes to master.

[2019-05-28 23:12] kylehamilton commented on #141
We can set up a sandbox environment on the server, for now, I'll take a look at this tonight but I don't think it'll be a problem. I have a similar set up for my Shiny apps on my server.

[2019-05-29 06:24] christinabergmann commented on #141
Great, everyone. This sounds like a good proposal. It seems reasonable to me to limit direct push access anyhow.
We might just need to think about an update cycle procedure (i.e. regular checks to merge) that is sustainable in the long run.

[2019-05-29 06:32] christinabergmann opened #142 "Pages currently not working"
A quick summary which parts of the site don't work as of right now:
http://metalab.stanford.edu/about.html
http://metalab.stanford.edu/publications.html
http://metalab.stanford.edu/tutorials.html
http://metalab.stanford.edu/documentation.html

(i.e. all except the main page and analyses)

On Analyses, the following are down:
http://metalab.stanford.edu/reports/ChildDevPaper.html and all other repo

[2019-05-29 13:26] mcfrank commented on #142
there is some issue in rendering the reports on our instance, it was
running out of resources yesterday. but today it worked!

re: paper

Quitting from lines 9-17 (ChildDevPaper.Rmd)

package or namespace load failed for 'tidyverse' in loadNamespace(j <-
i[[1L]], c(lib.loc, .libPaths()), versionCheck = vI[[j]]):

 namespace 'tidyr' 0.7.0 is already loaded, but >= 0.7.2 is required

On Wed, May 29,

[2019-05-30 12:53] christinabergmann commented on #142
OK all other pages seem to be back, just in time for my 2nd talk!

[2019-05-30 12:53] #142 closed

[2019-05-30 12:56] christinabergmann commented on #133
Moving this comment from Mike over here:

[2019-05-31 08:53] mllewis commented on #133
I'm happy to spend some time debugging this, but I'm having trouble even
getting the app running locally on my computer.... is the readme file the
most up-to-date information about the structure of things?

Molly

On Thu, May 30, 2019 at 7:56 AM Christina Bergmann <notifications@github.com>
wrote:

[2019-05-31 10:39] shotsuji commented on #133
Hi Molly,
I just looked into it, does it help if you comment out setwd("..") in main_builder.R? That did the trick for me (assuming you open from the metalab2 RProject. I published that change in a new branch called "Test" just in case.
@cissard also for good code hygiene please don't leave in script parts with your own local paths (even if commented out)

[2019-05-31 18:26] mcfrank commented on #133
We need to swap to using the "here" package throughout the codebase to
avoid this kind of craziness. :)

On Fri, May 31, 2019 at 6:39 AM Sho Tsuji <notifications@github.com> wrote:

[2019-06-01 06:21] christinabergmann opened #143 "Adapt metafor's reporter() to work with our use of rma.mv()"
metafor has the fantastic reporter() functionality for rma.uni() which basically generates a methods sections. It would be great to adapt it for the way we use rma.mv() - especially if we could have a functionality like MAJOR for jamovi (cc @kylehamilton)

[2019-06-01 06:52] christinabergmann opened #144 "Add recommendation to cite metafor when using model results"
It would be good to add a clear recommendation to cite metafor, because we use it for meta-analytic modelling. I'd think in citation policy and where we report the model results on the visualization would be good. Any objections?

Viechtbauer, W. (2010). Conducting meta-analyses in R with the metafor package. J Stat Softw, 36(3), 1-48.

[2019-06-01 07:16] shotsuji commented on #144
Sounds good! You mean for everyone that uses metalab right?

On Sat, Jun 1, 2019 at 15:52 Christina Bergmann <notifications@github.com>
wrote:

--
Assistant Professor
The University of Tokyo International Research Center for Neurointelligence
(IRCN)
Website: https://sites.google.com/site/tsujish/home
Blog: https://cogtales.wordpress.com/

[2019-06-01 07:21] christinabergmann commented on #144
I think when using the raw data without any meta-analytic models, citing MetaLab should be enough (because people might just look at stats of which method to use, or use a different way to compute meta-analytic estimates), but for everything else (i.e. visualizations, etc), metafor should be cited alongside MetaLab.

[2019-06-02 18:02] #112 closed

[2019-06-03 08:05] shotsuji opened #145 "Write-up folder gone"
I just noticed the write-up folder, where Christina's CD paper and Molly's synthesis draft were living, is gone. Is that on purpose? I liked them being there.

[2019-06-11 09:06] christinabergmann commented on #58
Can you check that the Child Dev paper is cited as follows everywhere, @cissard?
Bergmann, C., Tsuji, S., Piccinini, P.E., Lewis, M.L., Braginsky, M., Frank, M.C., & Cristia, A. (2018). Promoting replicability in developmental research through meta-analyses: Insights from language acquisition research. Child Development, 89, 1996-2009 . DOI: 10.1111/cdev.13079

[2019-06-11 09:07] christinabergmann commented on #103
The validation should be in the spreadsheet template.

[2019-06-11 10:00] christinabergmann commented on #101
To update this, I propose the following:
column name: trial_control
levels:
fixed
infant_training (= infant-controlled in habituation/familiarization phase but *not* test)
infant_test (= infant-controlled in test phase but *not* in habituation/familiarization phase)
infant_all (all trials were infant-controlled, also when there was only a test-phase)

[2019-06-12 10:14] kylehamilton commented on #134
This can be done straight from metafor but it would mean that we would have to change over from plotly. It would be less interactive. It would look like the funnel plots from MAJOR.

[2019-06-12 10:16] kylehamilton commented on #144
Would you like me to add that to the shiny apps? Most R packages have a BibTeX file associated with them so we can easily display the R packages that were used as well as Metalab and the data set.

[2019-06-12 11:22] mcfrank commented on #134
We can also just fix the current plot, no need to rip out the current
plotting code.

On Wed, Jun 12, 2019 at 12:14 PM W. Kyle Hamilton <notifications@github.com>
wrote:

[2019-06-12 12:33] cissard opened #146 "Empty visualization when adding new method"

[2019-06-12 12:44] cissard commented on #146
I added a new field in the method section of the spec.yaml file to fit with the Symbolic play dataset, but when I run the visualization app locally it's empty (see the attached screen capture).
![Capture d’écran 2019-06-12 à 14 43 33](https://user-images.githubusercontent.com/32436707/59352253-81f07480-8d20-11e9-9ece-8a31bcb7eb0c.png)
The main_builder script runs much faster but creates the data f

[2019-06-14 06:01] christinabergmann commented on #134
That'd be ideal to fix the current plot. We basically need to re-center the triangles to 0 and could add a line for the estimated meta-analytic mean.
(I also realized the description is misleading, waiting to adapt though).

[2019-06-14 06:02] christinabergmann opened #147 "Not all datasets shown on domain page"
Cross-situational word learning is in the visualizations, but not here or counted in the stats on the start page: http://metalab.stanford.edu/domain/early_language.html

[2019-06-14 10:05] cissard commented on #50
I don't think so. Also how to get the results once it's set?

[2019-07-05 12:01] cissard commented on #111
I am going to adapt [this page from word bank](http://wordbank.stanford.edu/faq#what-is-the-license-for-derivative-works-from-wordbank-e.g.-graphs-generated-by-the-site), and send it to the team to get your feedback and modifications before creating the webpage.

[2019-07-10 15:25] christinabergmann opened #148 "Events and Media page"
Not sure where it would fit (about page?) but it would be useful to have a page with upcoming events and past events with associated media (e.g. youtube videos) / materials (e.g. slides / specific demo scripts).

cc @shotsuji @alecristia @mcfrank @mllewis

[2019-07-10 16:09] christinabergmann commented on #148
And here's some content, do expand: https://docs.google.com/document/d/14qgHP3vYLgvrPpY7K5dM23zO47jh5_Ih0sK_zlfjW2o/edit

[2019-08-01 08:51] cissard commented on #93
If I understand correctly this would be looking for hand-coded and eye-tracking for automatic?

[2019-08-01 11:46] shotsuji commented on #93
Yes, exactly!

Am Do., 1. Aug. 2019 um 10:51 Uhr schrieb Cécile Issard <
notifications@github.com>:

--
Assistant Professor
The University of Tokyo International Research Center for Neurointelligence
(IRCN)
Website: https://sites.google.com/site/tsujish/home
Blog: https://cogtales.wordpress.com/

[2019-08-01 13:41] shotsuji commented on #101
On this now with Cecile.
Decisions made:
- we add this variable for all studies, not only hab/fam. Thus, e.g. FC would be "infant_all", looking while listening would be "fixed"
- for hab/fam studies: We only consider a study infant controlled if the trial stops after infant looks away for x sec (thus, we do not consider it infant controlled because the sound starts playing once the infant looks)

[2019-08-01 14:28] cissard opened #150 "no correlation imputed"
@kylehamilton
Looking at the cache_dataset script, it seems like no correlation can be imputed if there is no correlation already coded or calculated from t, means and SD. Because the imputation uses Hmisc::impute(fun = "random") we're just relying on some correlation being present. We discovered that if we run the function on a correlation column that only contains NA, the function gives an error

[2019-08-01 14:41] cissard opened #151 "some lines not included in the cross-situational word learning dataset"
The following lines have been coded in the data spreadsheet, with all the necessary information, but don't appear in meta-analytic visualization app:
- McGregor2013
- Fitneva2017 120m
- hu2017
- Filippi2017
- Smith2013

For within_two, the problem might be missing correlations, for within_one we don't know as they have all the necessary info to compute ES.

[2019-08-02 19:06] kylehamilton commented on #147
I'll take a look at this later today

[2019-08-07 14:54] cissard opened #152 "new study-specific columns not added"
Hello,

I noticed that the study-specific variables, usually added as the last columns in the csv files, are not added for the cross-situational word learning and natural speech preference datasets. For the cross-situational word learning dataset, the variables that were added earlier in the past are there, but not the recent ones (added by the curator a couple of weeks ago).

Could it be that the

[2019-08-22 13:42] #64 closed

[2019-10-02 10:00] christinabergmann commented on #152
Only columns specified in the metadata are added, so the first step would be to check all metadata.

[2019-10-16 10:12] cissard commented on #152
Hi Christina,

I did checked the metadata files. I noticed this as some moderators that I had specified for my MA in the metadata did not appear. Then I saw that the same problem occured for the cross-situational word learning MA.

[2019-10-22 18:01] mllewis commented on #152
The columns have to be specified in both `datasets.yaml` AND `spec.yaml'.  The ones that aren't appearing are probably the ones not in the spec file.

[2019-10-22 18:04] mllewis commented on #131
+ 1 for this. It would be nice more generally to have a filter option in the app so you could, e.g., filter to only those conditions that were in the original publication of the meta-analysis.

[2019-10-22 18:06] mllewis opened #153 "license expired?"
Website currently says that our Shiny license expired Oct. 8., 2019.

[2019-10-28 20:25] #153 closed

[2020-03-10 11:28] christinabergmann opened #154 "Data extraction tools"
We could expand suggestions for data extraction and give recommendations on how to transparently document data extraction.

One example is the tabulizer R package that extracts tables from pdfs
https://www.rdocumentation.org/packages/tabulizer/versions/0.2.2

[2020-05-05 16:11] erikriverson commented on #133
@christinabergmann Building the ChildDevPaper fails if the tidyverse package is not installed (https://github.com/langcog/metalab2/blob/master/reports/ChildDevPaper.Rmd#L13)

We can either add tidyverse to the required packages list or only load the particular packages used in this Rmd.  Any preference between those two?

[2020-05-05 17:11] mcfrank commented on #133
I'd add tidyverse...

On Tue, May 5, 2020 at 9:11 AM Erik Iverson <notifications@github.com>
wrote:

[2020-05-05 17:41] christinabergmann commented on #133
I'd agree with Mike, thanks Eric, for figuring this out.

[2020-06-03 12:36] RodrigoDalBen opened #157 "MAs not shown on domain page"
Hi there,

"Symbolic play", "Natural speech preference", and "Cross-situational word learning" are not being displayed at http://metalab.stanford.edu/domain/early_language.html

https://github.com/langcog/metalab2/blob/3ac44bf24a05df860febfb6054bbff3228abbd46/metadata/datasets.yaml#L552-L625

[2020-06-04 02:41] erikriverson commented on #157
@RodrigoDalBen Thank you for the report! "Natural speech preference", and "Cross-situational word learning" should be there on the next deploy, and I'll update here when that's done.

The Symbolic Play dataset has a validation issue when trying to load it: `Dataset 'Symbolic play' has invalid value 'observational' for field 'method'.` I will followup with team on how to remedy that.

[2020-06-04 05:18] erikriverson opened #158 "Slack test issue"
Testing Github integration with Slack

[2020-06-04 05:18] erikriverson commented on #158
issue received in Slack channel

[2020-06-04 05:18] #158 closed

[2020-06-18 04:21] erikriverson commented on #147
Resolved with latest deploy

[2020-06-18 04:21] #147 closed

[2020-06-18 04:30] erikriverson commented on #139
Added link to existing 'contribute' text

[2020-06-18 04:30] #139 closed

[2020-06-18 04:30] erikriverson commented on #157
Symbolic play now shown with latest deploy

[2020-06-18 04:30] #157 closed

[2020-06-18 04:38] erikriverson commented on #145
The write-ups directory was in the previous metalab repository. I have added it to metalab2 now also.

[2020-06-18 04:38] #145 closed

[2020-06-18 04:41] erikriverson commented on #126
/data is no longer checked into repo , so I do not believe this is relevant anymore, closing. will re-open if needed.

[2020-06-18 04:41] #126 closed

[2020-06-18 04:42] erikriverson commented on #118
Resolved with latest deploy

[2020-06-18 04:42] #118 closed

[2020-06-18 04:48] erikriverson commented on #99
New MetaLab deploy procedure uses Github Actions when PR made to main branch (staging), and merged into main branch (prod). any errors in the build can be seen from the Actions result.

[2020-06-18 04:48] #99 closed

[2020-06-18 05:52] erikriverson commented on #146
this has been fixed with latest commit , added 'obeservational' as an option for the 'method' column

[2020-06-18 05:52] #146 closed

[2020-06-18 08:41] christinabergmann opened #159 "Derive correlation from SD"
In appendix 2 of [Morris & DeShon (2002)](https://pdfs.semanticscholar.org/d88e/7804b7df89d229fd5db7a1c567b94ff18f33.pdf) it seems like it's possible to derive correlations from SD, worth checking.

[2020-07-16 04:58] erikriverson commented on #152
This is fixed with latest deploy

[2020-07-16 04:58] #152 closed

[2020-07-16 04:59] erikriverson commented on #141
There is now a staging server for shiny apps at http://52.24.141.166:4848/

[2020-07-16 04:59] #141 closed

[2020-07-16 05:01] erikriverson commented on #111
Fixed in latest deploy

[2020-07-16 05:01] #111 closed

[2020-07-16 05:03] erikriverson commented on #133
This is now blocked by #135 . Once that is resolved, the ChildDevPaper will build.

[2020-07-16 07:28] erikriverson commented on #105
@christinabergmann could this be another check we do when validating the data, and reporting if there is an invalid correlation value? I will add it to the checks if so.

[2020-07-16 11:38] christinabergmann commented on #105
These values are calculated but indeed, there can be a check whether the calculation makes sense. But first, I need to further track whether (1) this still happens and (2) it's not an error in our math.
I'll update with affected datasets

[2020-07-16 14:27] #85 closed

[2020-07-16 14:29] #92 closed

[2020-07-16 14:35] erikriverson commented on #105
check 'r' column for [0-1]

[2020-07-16 14:38] erikriverson commented on #107
move systematic and possibly search strategy to bullet points instead of 'detailed info' tab

[2020-07-16 14:40] #108 closed

[2020-08-13 13:53] saraelshawa commented on #105
fixed in metalabr package

[2020-08-13 13:53] #105 closed

[2020-08-14 13:21] christinabergmann opened #163 "Restructuring Tutorial (and Documentation?) page"
To ease navigation, I would propose the following:

tutorial landing page has the following buttons:

1. Download data from MetaLab (Optional subtitle: You want to conduct a power analysis or run your own regressions? Find more information here on how to obtain the data we display on MetaLab, either via the website or our package metalabr).
2. Update a meta-analysis on MetaLab (You have a brand ne

[2020-08-14 13:23] christinabergmann opened #164 "Move Documentation under About?"
I think a lot of what we have under documentation (statistical approach etc) can also live under about.

Objections?

[2020-08-25 02:58] #107 closed

[2020-08-25 07:41] christinabergmann commented on #58
@mllewis Are there citations for your MAs, incl label advantage that we could update? @saraelshawa is on it

[2020-08-31 16:49] mllewis opened #172 "power analysis app broken"

[2020-08-31 16:50] erikriverson commented on #172
Hi @mllewis , I'll check what happened here...

[2020-08-31 18:00] erikriverson commented on #172
I had failed to update a variable name in this app when doing some refactoring, fixe now.

[2020-08-31 18:00] #172 closed

[2020-08-31 18:15] mllewis opened #174 "update column specs in spec.yaml"
There are currently discrepancies between [spec.yaml](https://github.com/langcog/metalab2/blob/master/metadata/spec.yaml
) and the [MA template codebook](https://docs.google.com/spreadsheets/d/12Y_2BcFSu48t0F8a_xrY1Ro2fJoCIV1h8O627WNcrjY/edit#gid=0 
). I assume the MA template has been updated more recently? If true, the spec sheet will need to be updated before new data can be added to the databa

[2020-09-09 10:25] christinabergmann opened #176 "Visualizations don't load"
This is a really odd one that keeps popping up. On my laptop (windows 10), all is fine. On my PC (also windows 10, chrome or firefox), the visualizations do not appear - I tried reloading, different browsers. Any idea what might be happening?

[2020-10-15 01:42] lottiegasp commented on #120
I have gone through and added the ones I think are relevant to the [Tutorials - to do](https://docs.google.com/document/d/16RDwrsTF9_5ku73CvMplOwdYyLL8uFHzH21Ysfv3r6Q/edit)
The only one I don't think is relevant is RISmed because it seems to only works for PUBMed database. The others we should test and  if useful integrate into the new tutorials